.ip-om-name {
  margin-left: 50px;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  text-transform: uppercase;
}

.ip-om {
  padding: 0 0 40px 0;
  height: 500px;
  width: 100%;
  // min-height: 300px;
  // max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;

  .ip-om-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    transition: background 100ms linear;

    span {
      display: flex;
      i {
        margin: 0;
        padding: 0;
      }
    }

    .ip-om-item-drag-icon {
      margin-right: 15px;
      color: rgb(165, 165, 165);
    }
    .ip-om-item-icon {
      margin-right: 10px;
      color: rgb(8, 143, 143);
    }
    .ip-om-item-name {
      font-size: 16px;
      font-weight: bold;
    }

    &:hover {
      background-color: var(--ct-ip-grey-1);
    }
    &:active, &.dragging {
      // background-color: var(--ct-green-normal);
      // span { color: white; }
      // background-color: var(--ct-ip-grey-2);
      // background-color: white;
      background-color: var(--ct-ip-grey-1);
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.055);
    }
  }
}