.ct-ipt-con {
  width: 100%;
  position: relative;
}

/* Label */
.ct-ipt-label {
  font-weight: bold;
  font-size: 1.1em;
  color: rgb(65, 65, 65);
  margin-left: .5em;
  margin-bottom: -.5em;
}
.ct-ipt-required-icon {
  color: rgb(170, 0, 0);
  margin-left: .3em;
}

.ct-ipt-description {
  margin-top: .3em;
  font-size: 1.1em;
  color: rgb(90, 90, 90);
}
.ct-ipt-error {
  color: rgb(172, 7, 7);
}