/**
 * Video Card Square
 */

.video-card-container-square {
  width: 222px;
  height: max-content;
  margin: .5em .5em 1em 0;
  overflow: hidden;
  flex: 0 0 auto;}
  .video-card-container-square .media-info {
    padding: .3em;}
    .video-card-container-square .media-info .video-name {
      color: var(--ct-text-primary);
      font-size: 17px;
      margin-bottom: .3em;
      font-family: var(--ct-font-narrow);
      max-height: 47px;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: var(--ct-transition-color);
      -o-transition: var(--ct-transition-color);
      -moz-transition: var(--ct-transition-color);
      -webkit-transition: var(--ct-transition-color);
    }
.video-card-container-square .media-info .video-name:hover, .video-card-container-square:focus-within .media-info .video-name {
  color: var(--ct-green-active);
}

.video-card-container-square .media-info .description, .video-card-container-square .media-info .description-link {
  font-size: 1em;
  color: rgb(104, 104, 104);
  transition: var(--ct-transition-color);
  -o-transition: var(--ct-transition-color);
  -moz-transition: var(--ct-transition-color);
  -webkit-transition: var(--ct-transition-color);
}

.video-card-container-square[unavailable=true] {
  opacity: .6;
  pointer-events: none;
}



/**
 * Video Card Row 
 */
 
.video-card-container-row {
  position: relative;
  padding: 1em 0;
  width: 100%;
  border-bottom: var(--ct-border-color) !important;
}
.video-card-container-row[unavailable=true] {
  opacity: .6;
  pointer-events: none;
}
.video-card-container-row:last-child {
  border-bottom: none !important;
}

.video-card-container-row .video-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
}

.video-card-container-row .media-info {
  margin-left: 1.5em;
  margin-top: .5em;
  width: 100%;
  text-align: left;
  position: relative;
}

.video-card-container-row .media-info .media-name {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--ct-text-primary);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  transition: var(--ct-transition-color);
  -o-transition: var(--ct-transition-color);
  -moz-transition: var(--ct-transition-color);
  -webkit-transition: var(--ct-transition-color);
}
.video-card-container-row .media-info .media-name:hover, .video-card-container-row:focus .media-info .media-name, .video-card-container-row[dark=true] .media-info .media-name:hover, .video-card-container-row[dark=true] .video-card:focus .media-info .media-name {
  color: var(--ct-green-active);
}
.video-card-container-row[dark=true] .media-info .media-name {
  font-size: 15px;
  width: 100%;
  color: var(--ct-text-white);
  margin: 0;
}
.video-card-container-row .media-info .description, .video-card-container-row .media-info .description-link {
  font-size: 1.1em;
  color: rgb(104, 104, 104);
  transition: var(--ct-transition-color);
  -o-transition: var(--ct-transition-color);
  -moz-transition: var(--ct-transition-color);
  -webkit-transition: var(--ct-transition-color);
}

.video-card-container-row[dark=true] .media-info .description, .video-card-container-row[dark=true] .media-info .description-link {
  color: var(--ct-green-active) !important;
}
.media-info .description-link:hover, .media-info .description-link:focus {
  color: var(--ct-text-primary);
}

/* Dismiss Button */
.video-card-container-row .button[type=dismiss] {
  position: absolute;
  color: var(--ct-text-primary-light);
  padding: .5em !important;
  background: transparent !important;
  border-radius: 50% !important;
  border: var(--ct-border-color-transparent) !important;
  font-size: 1.3em;
  right: 0;
  top: .3em;
  transition: var(--ct-transition-bg);
  -o-transition: var(--ct-transition-bg);
  -moz-transition: var(--ct-transition-bg);
  -webkit-transition: var(--ct-transition-bg);
}
.video-card-container-row .button[type=dismiss]:hover {
  border: var(--ct-border-color) !important;
  background: #e9e9e9 !important;
}

/* Placeholder */
.video-card-container-row .ui.placeholder[id=img-holder] {
  width: 200px;
  margin-right: 1em;
}
.video-card-container-row .ui.placeholder[id=line-holder] {
  width: 300px;
  height: 20px !important;
  margin: .5em 0 !important;
  overflow: hidden;
}
.video-card-container-row .ui.placeholder .image:not(.header):not(.ui) {
  width: 200px !important;
}