.ct-homep.section-con {
  border-top: 1px solid rgb(238, 238, 238);

  .ct-homep.section-title-con {
    padding: 20px 10px;

    .ct-homep.section-title {
      font-size: 25px;
      color: rgb(42, 42, 42);
      width: max-content;
      margin: 0 10px 0 0;
    }
  }
}