.video-poster {
  position: relative;
  height: max-content;
  overflow: hidden;
}

.video-poster img {
  position: relative;
  pointer-events: none;
  object-fit: cover;
  width: 100%;
}

.video-poster .progress-bar {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: rgba(114, 114, 114, 0.26);
}

.video-poster .progress-bar .progress {
  height: 100%;
  border-radius: 0;
  background-color: rgb(45, 170, 170);
}

.video-poster[data-round=true] img {
  border-radius: 10px;
}
