/*
 * Stylesheet for CTPlayers
 */
.ct-player {
  margin-top: .5rem;
  width: 100%;
  height: max-content;
}

.ct-player .secondary {
  cursor: pointer;}
  .ct-player .secondary:hover, .ct-player .secondary[id=nested-mode]:hover {
    box-shadow: 0 0 0 3px rgb(117, 179, 179);}
  .ct-player .secondary .vjs-big-play-button {
    display: none !important;
  }

/* Normal mode */
.ct-player[id=normal-mode], .ct-player[id=nested-mode] {
  margin: 0;
}
.ct-player .primary[id=normal-mode] {
  width: 60em;
  max-width: 94vw;}
  @media screen and (max-width: 650px) {
    .ct-player .primary[id=normal-mode] {
      max-width: 100vw;
    }
  }
.ct-player .secondary[id=normal-mode] {
  display: none;
}

/* Primary-Secondary mode */
.ct-player .primary[id=ps-mode] {
  width: 58vw;}
.ct-player .secondary[id=ps-mode] {
  margin: 0em 0 0 1vw;
  width: 36vw;}

/* Equal-width mode */
.ct-player .primary[id=equal-mode], .ct-player .secondary[id=equal-mode] {
  width: 47vw;}
.ct-player .secondary[id=equal-mode] {
  margin-left: 1vw;}
  
/* Equal and ps mode in moblie size */
@media screen and (max-width: 650px) {
  .ct-player .primary[id=ps-mode], .ct-player .primary[id=equal-mode] {
    width: 100vw;}
  .ct-player .secondary[id=ps-mode], .ct-player .secondary[id=equal-mode] {
    display: none;
  }
}

/* Nested mode */
.ct-player .primary[id=nested-mode], .ct-player .secondary[id=nested-mode] {
  transition: none !important;
}
.ct-player .primary[id=nested-mode] {
  width: 60em;
  max-width: 80vw;}
  @media screen and (max-width: 650px) {
    .ct-player .primary[id=nested-mode] {
      max-width: 100vw;
    }
  }
.ct-player .secondary[id=nested-mode] {
  z-index: 1;
  width: 17em;
  border: 1px solid rgba(77, 77, 77, 0.589);
  border-radius: .5em;
  overflow: hidden;
  position: absolute;
  right: 1vw;
  top: .5em;}
  @media screen and (max-width: 720px) {
    .ct-player .secondary[id=nested-mode] {
      top: .3em;
      right: .8em;
      width: 10em;}}
  @media screen and (max-width: 650px) {
    .ct-player .secondary[id=nested-mode] {
      top: .3em;
      right: .2em;
      width: 8em;}}
