$highlighted-color: rgb(0, 218, 218);

.ctp.act-btn {
  position: relative;
  background: none;
  color: var(--ct-text-white);
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0 .5em;

  &:active {
    opacity: 0.6;
  }

  &.highlighted {
    span i {
      color: $highlighted-color;
    }
    border-bottom: 2px solid $highlighted-color;
  }

  // &.playButton {
  //   margin: 0 0 0 10px;
  //   &:active {
  //     opacity: 1;
  //   }
  //   span {
  //     background-color: rgb(11, 167, 167);
  //     width: 1.7em;
  //     height: 1.7em;
  //     border-radius: 20px;
  //   }
  // }

  span {
    width: 1.3em;
    height: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i.material-icons {
      font-size: 1.5em;
      width: max-content;
    }
  
    i.fas {
      font-size: 1.2em;
    }
  }
}