.ip-cf-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 63, 63, 0.514);
  z-index: 2000;
}
.ip-cf-con {
  background-color: white;
  border-radius: 5px;
  width: 30vw;
  min-width: 400px;
  box-shadow: 0 0 10px rgba(27, 27, 27, 0.267);
}

/* Header */
.ip-cf-h-con {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5em .5em .5em 1em;
}
.ip-cf-h-con h3 {
  font-size: 1.8em;
  font-family: var(--ct-font-narrow);
  color: var(--ct-text-title);
  padding: 0;
  margin: 0vw;
  text-transform: uppercase;
}

/* Content */
.ip-cf-text-con {
  padding: .2em 1em;
  font-family: var(--ct-font-google);
}
.ip-cf-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3em;
  line-height: 1.3em;
  font-family: inherit;
  font-weight: bold;
  color: rgb(70, 70, 70);
  text-transform: uppercase;
}
.ip-cf-text span {
  color: var(--ct-text-title);
  text-transform: none;
}
.ip-cf-text.description {
  margin-top: .5em;
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase;
  color: rgb(98, 98, 98);
}

.ip-cf-act {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em;
  padding-top: 3em;
}