.ip-cf-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3em;
  line-height: 1.3em;
  font-family: inherit;
  font-weight: bold;
  color: rgb(70, 70, 70);
  text-transform: uppercase;
}
.ip-cf-text span {
  color: var(--ct-text-title);
  text-transform: none;
}
.ip-cf-text.description {
  margin-top: .5em;
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase;
  color: rgb(98, 98, 98);
}