.ct-epb.ch-img-con {
  margin: 10px 0;
  position: relative;
  width: 100%;
  // max-width: 550px;
  min-height: 40px;

  img {
    position: relative;
    width: 100%;
  }

  .ch-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.61);
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

  .ch-img-rm-btn {
    position: absolute !important;
    top: 5px;
    right: 5px;
    opacity: 0;
  }

  &:hover,
  &:focus-within {
    .ch-img-wrapper {
      opacity: 1;
    }

    .ch-img-rm-btn {
      opacity: 1;
    }
  }
}