.sp-res-li {
  padding: 20px 5px 10px 5px;
  &:not(:last-child) {
    border-bottom: 1px solid rgb(236, 236, 236);
  }

  .sp-res-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 25px;

    .number {
      font-size: 22px;
      color: var(--ct-green-normal);
      &:hover, &:active {
        text-decoration: underline;
      }
    }

    .name {
      font-size: 20px;
      margin-left: 10px;
      color: rgb(65, 65, 65);
    }
  }

  .term {
    font-size: 15px;
    color: rgb(55, 83, 83);
  }

  .description {
    margin-top: 3px;
    color: rgb(93, 93, 93);
    max-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}