/**
 * Stylesheet for basic layouts of WatchContent Component
 */

.watch-content {
  position: absolute;
  width: 100%;
  padding: 0;
  color: #fcfcfc;
}

.watch-content .player-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 2vw;
  align-items: center;
  /* justify-content: center; */
}
.watch-content .switch-player {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/* Moble stylesheet */
@media screen and (max-width: 650px) {
  .watch-content .player-container {
    padding-left: 0;
  }
  .watch-content {
    padding: .5em 0 !important;
  }
}
