/**
 * Stylesheet for basic layouts of WatchContent Component
 */

.watch-content {
  position: absolute;
  width: 100%;
  padding: 0;
  color: #fcfcfc;
}

.watch-content .player-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 2vw;
  align-items: center;
  position: relative;
}
.watch-content .switch-player {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.watch-content .player-container[id=normal-mode], .watch-content .player-container[id=nested-mode] {
  width: 100vw;
  background: black;
  margin-top: .5em;
  justify-content: center !important;
  align-items: center !important;
}

/* Moble stylesheet */
@media screen and (max-width: 650px) {
  .watch-content .player-container {
    padding-left: 0;
  }
  .watch-content {
    padding: .5em 0 !important;
  }
}

.watch-content .player-container .loading-wrapper {
  position: absolute;
  width: 95%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;}
  .watch-content .player-container .loading-wrapper .spinner-border {
    color: rgb(69, 173, 173);
    width: 5em;
    height: 5em;
    border-width: .5em;
  }
  .watch-content .player-container .hide-loading-wrapper {
    display: none;
  }
/* Loader */
  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: rgb(54, 184, 177);
    animation: lds-facebook 1.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.44s;
  }
  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.22s;
  }
  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 30px;
    }
    50%, 100% {
      top: 19px;
      height: 13px;
    }
  }
  
