/**
 * Stylesheet for basic layouts of WatchContent Component
 */

.watch-content {
  position: absolute;
  width: 100%;
  padding: 0;
  color: #fcfcfc;
}

.watch-content .player-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 2vw;
  align-items: center;
  position: relative;
}
.watch-content .switch-player {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.watch-content .player-container[id=normal-mode], .watch-content .player-container[id=nested-mode] {
  width: 100vw;
  background: black;
  margin-top: .5em;
  justify-content: center !important;
  align-items: center !important;
}

/* Moble stylesheet */
@media screen and (max-width: 650px) {
  .watch-content .player-container {
    padding-left: 0;
  }
  .watch-content {
    padding: .5em 0 !important;
  }
}

.watch-content .player-container .loading-wrapper {
  position: absolute;
  width: 95%;
  height: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;}
  .watch-content .player-container .loading-wrapper .spinner-border {
    color: rgb(69, 173, 173);
    width: 5em;
    height: 5em;
    border-width: .5em;
  }
  .watch-content .player-container .hide-loading-wrapper {
    display: none;
  }
