////////////////////////////////////////////////////////////
// Chapter List
////////////////////////////////////////////////////////////
.msp-ee-el-con {
  position: relative;
  display: flex;
  width: 55%;
  overflow-x: hidden;

  &[data-editing=false] { 
    display: none; 
  }

  ////////////////////////////////////////////////////////////
  // Image Magnifier
  ////////////////////////////////////////////////////////////
  .ee-ep-magnify {
    position: fixed;
    top: 120px;
    left: 20%;
    width: 500px;
    z-index: 1;
    cursor: zoom-out;
    button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.212);
    }
  }

  .ee-el-chapters {
    position: relative;
    width: 100%;
    padding-top: 1rem;

    .ee-el-items {
      position: relative;
      width: 100%;
      flex: 0 0 auto;

      &:first-child {
        .ee-el-ch-title .ee-el-ch-t-remove-btn {
          pointer-events: none;
          display: none;
        }
      }

      &.fold {
        .ee-el-ch-title .ee-el-expand-btn {
           transform: rotate(180deg);
        }
      }

      .ee-el-ch-title {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        background: linear-gradient(-180deg,#fff 90%,transparent);
        padding: 15px 0 15px 90px;
        animation: ee-el-title-show 200ms linear;

        input {
          font-weight: bolder;
          margin: 0;
          padding: 0 0 5px 10px;
          font-size: 32px;
          // border-top: 3px solid rgb(240, 240, 240);
          width: 100%;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          &:focus {
            text-overflow: initial;
          }
        }

        .ee-el-ch-t-remove-btn {
          position: absolute;
          top: 13px;
          left: 40px;
          opacity: 0;
          transition: opacity .2s ease-in;
        }

        .ee-el-expand-btn {
          transition: transform 100ms linear;
        }

        &:hover .ee-el-ch-t-remove-btn, 
        .ee-el-ch-t-remove-btn:focus-within {
          opacity: 1;
        }
      }


      ////////////////////////////////////////////////////////////
      // Compact Chapter View
      ////////////////////////////////////////////////////////////
      .ee-el-ch-compact-txt {
        display: flex;
        // width: 10px;
        margin: 0 0 40px 100px;
        position: relative;
        white-space: pre-wrap;
        animation: ee-el-ch-hide 200ms linear;
        font-size: 17px;
        line-height: 23px;
      }

      .ee-el-i-ul {
        position: relative;
        flex: 0 0 auto;
        animation: ee-el-ch-show 200ms linear;
      }


      ////////////////////////////////////////////////////////////
      // ePub Chapters Item
      ////////////////////////////////////////////////////////////
      .ee-el-item {
        position: relative;
        width: 100%;
        padding: 0;
        transition: padding .2s linear;

        .ee-el-i-info {
          padding-left: 100px;
          
          .ee-el-i-img {
            position: relative;
            min-width: 150px;
            height: max-content;
  
            img {
              position: relative;
              width: 150px;
              object-fit: contain;
              cursor: zoom-in;
            }
          }
  
          .ee-el-i-text {
            position: relative;
            white-space: pre-wrap;
            padding-left: 10px;
            font-size: 17px;
            line-height: 23px;
            // height: 92px;
            overflow: hidden;
          }
        }

        .ee-el-i-actions {
          transition: opacity .2s ease-in;
          opacity: 0;
          pointer-events: none;

          .ee-el-i-split-btn {
            width: 100%;
            span {
              border-radius: 0 20px 20px 0 !important;
            }
          }
        }

        &:not(:last-child):hover {
          .ee-el-i-actions {
            pointer-events: visible;
            opacity: 1;
          }
        }

        // &:not(:last-child) {
        //   .ee-el-i-actions:hover {
        //     opacity: 1;
        //   }
        // }
      }
    }
  }
}


@keyframes ee-el-hide {
  0% { width: 55%;}
  100% { width: 40%;}
}