.ip-course {
  width: 40%;
  min-width: 30em;
  height: 100vh;
  padding-top: 4.5em;
  /* background-color: var(--ct-ip-grey-1); */
  background-color: white;
  overflow: auto;
  padding-bottom: 4em;
  position: relative;
}

/* Course Info */
.ip-course-info-1 {
  margin-top: 3em;
  padding: 0 .5em 0 1.5em;
  position: sticky;
  display: block;
  top: 0em;
  z-index: 1;
  /* background-color: var(--ct-ip-grey-1); */
  background-color: white;
}
.ip-course-info-1 .ip-c-num {
  font-size: 2.4em;
  color: var(--ct-text-title);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ip-course-info {
  padding: 0 .5em 2em 1.5em;
  font-family: var(--ct-font-google);
}
.ip-course-info .ip-c-name {
  font-size: 2.1em;
  color: rgb(71, 71, 71);
  font-weight: bold;
  font-family: var(--ct-font-narrow);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.3em;
}
.ip-course-info .ip-c-detail {
  margin-top: 1.2em;
  font-size: 1.5em;
  color: rgb(73, 73, 73);
}

.ip-course-info .ip-c-descrip {
  margin: 1em 0;
  font-size: 1.4em;
  color: rgb(73, 73, 73);
  padding-left: .5em;
  border-left: 3px solid #4e4e4e3f;
  line-height: 1.4em;
}

.ip-course-info .ip-c-btns-con {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: .5em 1em;
}


/* Title Part */
.ip-sb-title h3 {
  font-size: 1.4em;
  padding: .2em .5em;
  margin: 0;
  text-transform: uppercase;
  margin-left: .3em;
}


/* Playlists */
.ip-c-playlists {
  margin-top: 2em;
}
.ip-c-pl-item {
  padding: 0 .9em;
  position: relative;
  margin: 2px 0;
}
.ip-c-pl-item .ip-c-pl-item-con {
  /* background-color: var(--ct-ip-grey-2); */
  background-color: white;
  position: relative;
}

.ip-c-pl-item:hover .ip-c-pl-item-con {
  background-color: var(--ct-ip-grey-1);
  /* background-color: white; */
}
.ip-c-pl-item:active .ip-c-pl-item-con {
  background-color: var(--ct-ip-grey-1);
}

.ip-c-pl-item[data-current=true] {
  padding-right: .9em;
}
.ip-c-pl-item[data-current=true] .ip-c-pl-item-con {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--ct-ip-grey-1);
}
/* .ip-c-pl-item[data-current=true]:hover .ip-c-pl-item-con {
  background-color: var(--ct-ip-grey-5);
} */
.ip-c-pl-item[data-current=true]:active .ip-c-pl-item-con {
  background-color: var(--ct-ip-grey-2);
}

.ip-c-pl-item .ip-c-pl-name {
  font-size: 1.4em;
  font-weight: bold;
}
/* .ip-c-pl-item[data-current=true] .ip-c-pl-name {
  color: var(--ct-text-title);
} */
.ip-c-pl-item .ip-c-pl-mnum {
  margin-top: 1em;
  padding-left: .5em;
  color: rgb(77, 77, 77);
}

.ip-c-pl-item .ip-c-pl-r-icon {
  position: absolute;
  right: .5em;
  height: 3.7em;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(77, 77, 77);
}
.ip-c-pl-item .ip-c-pl-r-icon[data-small] {
  height: 1.6em;
}
.ip-c-pl-item[data-current=true] .ip-c-pl-r-icon {
  display: flex;
  color: var(--ct-text-title);
}


/* No Offering Holder */
.ip-nf-holder {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}