.ip-course {
  width: 43%;
  min-width: 40em;
  height: 100vh;
  padding-top: 4.6em;
  padding-right: .2em;
  background-color: white;
  overflow: hidden;
  position: relative;
  -webkit-box-orient: vertical;
}
.ip-course-con {
  width: 100%;
  height: calc(100vh - 4.6em);
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  -webkit-box-orient: vertical;
}

/* Course Info */
.ip-course-info-1 {
  padding: 1.5em .5em 0.1em 1.5em;
  background-color: white;
}
.ip-course-info-1 .ip-c-num {
  font-size: 2.4em;
  color: var(--ct-text-title);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ip-course-info {
  padding: 0 .5em 2em 1.5em;
  font-family: var(--ct-font-google);
}
.ip-course-info .ip-c-name {
  font-size: 2.1em;
  color: rgb(71, 71, 71);
  font-weight: bold;
  font-family: var(--ct-font-narrow);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.3em;
}
.ip-course-info .ip-c-detail {
  margin-top: 1.2em;
  font-size: 1.5em;
  color: rgb(73, 73, 73);
}

.ip-course-info .ip-c-descrip {
  margin: 1em 0;
  font-size: 1.4em;
  color: rgb(73, 73, 73);
  padding-left: .5em;
  border-left: 3px solid #4e4e4e3f;
  line-height: 1.4em;
}

.ip-course-info .ip-c-btns-con {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: .5em 1em;
}


/* Title Part */
.ip-sb-title h3 {
  font-size: 1.4em;
  padding: .2em .5em;
  margin: 0;
  text-transform: uppercase;
  margin-left: .3em;
}

/* Actions */
.ip-c-actions {
  width: 100%;
  display: flex;
  padding: 10px 12px 3px 12px;
}


/* Playlists */
.ip-c-playlists {
  margin-top: 1em;
  padding-bottom: 5em;
}