.ee-ech-ch-con {
  width: 70%;
  min-width: 700px;

  .ee-ech-ch {
    padding: 20px 20px 90px 20px;

    .ee-ech-ch-info {
      width: 100%;

      .ee-ech-ch-content {
        padding: 10px;
      }
    }
  }
}
