/**
 * stylesheet for offering page
 */

::-webkit-scrollbar{
  display: none;
}
/* .cs-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.808);
  z-index: 1;
} */

.op-bg {
  position: absolute;
  -webkit-position: absolute;
  -moz-position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  background-color: #fcfcfc;
}

.op-bg .content {
  display: flex;
  flex-direction: column;
}

/* results */

.content-result {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 4rem;
  -webkit-overflow-scrolling: touch;
}

.height-100 {
  height: 100%;
}

.empty-result {
  /* padding-top: 3.5rem; */
  /* height: 80%; */
  position: relative;
}

.empty-result .welcome {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-result .welcome h2 {
  color: rgb(1, 2, 2);
  font-size: 3rem;
  line-height: 0rem;
} .empty-result .welcome h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(29, 177, 177);
  font-size: 4rem;
  font-weight: bolder;
} 
/* Videos */




/******************************/
.general-form p span {
  color: #1e989c;
  cursor: default;
  font-weight: bold;
}
.link {
  color: #1c99ff !important;
}