.history-bg {
  padding-top: 2em;
  width: 100%;
}
.history-bg .watch-history {
  width: 100%;
}
.history-bg .watch-history .history-title {
  margin-top: 10px;
  font-size: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.history-bg .watch-history-item {
  position: relative;
  padding: 1em 0;
  width: 100%;
  border-bottom: 1px solid #e6e6e6 !important;
  display: flex;
  flex-direction: row;
}

.history-bg .watch-history-item:hover .media-info .media-name, .history-bg .watch-history-item:focus .media-info .media-name {
  color: rgb(53, 138, 141);
}

.history-bg .watch-history-item .media-info {
  margin-left: 1.5em;
  margin-top: 1em;
}
.history-bg .watch-history-item .media-info .media-name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  color: rgb(0, 0, 0);
}
.history-bg .watch-history-item .media-info .offering-num {
  font-size: 1.1em;
  color: rgb(104, 104, 104);
}

.watch-history-item-con {
  position: relative;
  width: 100%;
}



/* Close Button */
.history-bg .watch-history-item-con .button[type=remove-history] {
  position: absolute;
  color: rgb(114, 114, 114);
  background: transparent;
  font-size: 1.3em;
  right: 0;
  top: .3em;
}