.upload-form {
  width: 100%;
  padding: 0em 7em 1em 8em;
}
.upload-form h4 {
  font-size: 1.5em;
  width: 100%;
  margin-bottom: -2em;
  color: rgb(44, 141, 141);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.upload-form input {
  max-width: 20em !important;
}
.ui.form input[type=text]:focus {
  border-color: rgb(61, 165, 165) !important;
}

.upload-form .field {
  margin-top: -1.2em !important;
}

.upload-btn {
  margin-top: -.5em;
}
.upload-btn p {
  font-size: .9em;
  font-weight: bold;
}