.upload-video {
  width: 100%;
  height: max-content;
}
.direction {
  width: 100%;
  padding-top: .5em !important;
}
.upload-video .description {
  font-size: .7em;
  font-weight: normal;
  color: grey;
  display: flex;
  align-items: center;
}
.upload-video .description[id=upload-guide] {
  margin-top: -2em;
  justify-content: center;
  width: 100%;
}
.upload-form {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 0em 7em 1em 8em;
}

.upload-form h4 {
  font-size: 1.5em;
  width: 100%;
  margin-bottom: -2em;
  color: rgb(44, 141, 141);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.upload-form input {
  max-width: 20em !important;
}
.ui.form input[type=text]:focus {
  border-color: rgb(61, 165, 165) !important;
}

.upload-form .field {
  margin-top: -1.2em !important;
}

.upload-btn {
  margin-top: -.5em;
}
.upload-btn span {
  font-size: .9em;
  color: rgb(221, 70, 70);
}


.video-pair{
  width: 100%;
  height: 3em;
  font-size: .7em;
  display: flex; 
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid rgb(230, 230, 230);
}
.video-pair:last-child {
  border-bottom: 1px solid rgb(230, 230, 230);
}
.video-pair .video1, .video-pair .video2 {
  color: rgb(70, 70, 70);
  font-weight: bold;
  width: 48%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.video-pair .video1[id=one-video] {
  width: 98%;
}
.video-pair .switch {
  margin: 0 .5em;
  border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  border: 1px solid rgb(230, 230, 230);
  font-size: 1.2em;
  color: rgb(78, 78, 78);
}
.video-pair .delete {
  border: none;
}
.video-pair .switch, .video-pair .delete {
  outline: none;
  background: none;
}
.video-pair .switch span, .video-pair .delete span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-pair .switch:hover> span, .video-pair .delete:hover> span, .video-pair .switch:focus> span, .video-pair .delete:focus> span {
  color: rgb(72, 157, 163);
}

.uploading {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.uploading .uploading-video {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
  color: rgb(114, 114, 114);
  font-weight: bold;
  height: 3em;
  border-top: 1px solid rgb(230, 230, 230);
  align-items: center;
}
.uploading .uploading-video:last-child {
  border-bottom: 1px solid rgb(230, 230, 230);
}
.uploading .uploading-video .status {
  font-weight: normal;
  color: rgb(51, 155, 155);
}