.watch-media-info {
  margin-left: 1em;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.watch-header-course-num {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 25vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--ct-text-highlight);
}

.watch-header-media-name {
  position: relative;
  font-size: 1em;
  margin: 0;
  padding: 0;
  width: 25vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 550px) {
  .watch-media-info {
    display: none;
  }
} 

