/* Media Details */
.media-details {
  margin-top: 1em !important;
  margin-right: .5em;
  padding-right: 1em;
  border-right: 1px solid rgb(197, 197, 197);
  color: white;
}

.media-details strong {
  color: rgb(19, 211, 211);
}

@media screen and (max-width: 650px) {
  .media-details {
    display: none;
  }
}