.watch-media-info {
  margin-left: 1em;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.watch-media-info span {
  display: block;
}

.watch-header-course-num {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 25vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--ct-text-highlight);
  font-family: var(--ct-font-google);
}
.watch-header-course-num span {
  font-weight: normal;
  color: rgb(209, 209, 209);
  margin-left: .5rem;
  font-family: var(--ct-font-narrow);
  display: inline;
}

.watch-header-media-name {
  position: relative;
  font-size: 1.15em;
  margin: .2rem 0;
  padding: 0;
  width: 25vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--ct-font-narrow);
  font-weight: normal;
  color: rgb(209, 209, 209);
  /* font-style: italic; */
}

@media screen and (max-width: 550px) {
  .watch-media-info {
    display: none;
  }
} 

