.ctp.time-display {
  display: flex;
  color: rgb(223, 223, 223);
  height: 100%;
  align-items: center;
  font-size: 0.9em;
  padding: 2px 0 0 3px;
  
  span.time-separator {
    padding: 0 3px;
  }
}