.ctp.volume-con {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 35px;
  transition: width 100ms linear;
  overflow: hidden;

  .ctp.volume-slider {
    min-width: 40px;
    width: 40px;
    overflow: visible;
    margin-top: 2px;
    .MuiSlider-rail {
      background-color: white;
      // height: 3px;
    }
  
    .MuiSlider-track, .MuiSlider-thumb {
      background-color: rgb(0, 236, 236);
    }
  }

  &:hover, &:focus-within {
    width: 90px;
  }
}

.md {
  .ctp.volume-con {
    width: 40px;

    .ctp.volume-slider {
      min-width: 70px;
      width: 70px;
    }

    &:hover, &:focus-within {
      width: 130px;
    }
  }
}

.lg {
  .ctp.volume-con {
    width: 50px;

    .ctp.volume-slider {
      min-width: 70px;
      width: 70px;
    }

    &:hover, &:focus-within {
      width: 140px;
    }
  }
}