.ct-epb.ch-text-con {
  width: 100%;
  margin: 8px 0;

  .ch-text {
    width: 100%;
    padding: 9px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    border: dashed 1px rgba(0, 0, 0, 0);
    transition: all linear 100ms;

    &:hover,
    &:focus {
      border-color: rgb(41, 41, 41);
      background-color: rgb(246, 248, 248);
    }
  }
}