.ip-li-btn {
  width: 100%;
  padding-right: .9em;
  padding-left: .9em;
  margin: .2em 0;

  &:hover, &:active, &[data-current=true], &.dark {
    .ip-li-btn-con {
      background-color: var(--ct-ip-grey-1);
    }
  }

  img {
    width: 120px;
    margin-right: .5rem;
  }

  .ip-li-btn-con {
    background-color: white;
    position: relative;
    padding: 1em 1em;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    transition: all .2s linear;
    cursor: pointer;
  }

  .ip-li-text-con {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: var(--ct-font-google);

    .ip-li-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: inherit;
      display: block;
    }
    .material-icons {
      font-size: 1.1em;
      padding: 0;
      margin-right: .3em;
    }
  }

  .ip-li-t {
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(34, 34, 34);
    white-space: nowrap;
  }
  .ip-li-subt {
    font-size: 1.2em;
    color: var(--ct-text-title);
    white-space: nowrap;
  }
  .ip-li-d {
    font-size: 1em;
    margin-top: .8em;
    padding: .1em .1em;
    color: rgb(77, 77, 77);
    white-space: normal;
  }
  .ip-li-r-i {
    position: absolute;
    right: .5em;
    height: 3.7em;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(77, 77, 77);
    
    &[data-size=small] {
      height: 1.6em;
    }
  }
  &:hover {
    .ip-li-t {
      color: var(--ct-text-title);
    }
  }
  &:disabled {
    .ip-li-t {
      color: rgb(34, 34, 34);;
    }
  }

  &[data-current=true] {
    padding-right: .9em;
    &:active {
      .ip-li-btn-con {
        background-color: var(--ct-ip-grey-2);
      }
    }

    .ip-li-r-i {
      display: flex;
      color: var(--ct-text-title);
    }
  }

}