.msp-ee-con {
  width: 100%;
  position: relative;
  padding-top: 93px;
  min-width: 1100px;
  height: 100vh;
  // background-color: rgba(248, 248, 248, 0.459);

  .msp-ee {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 93px);
  }
}


////////////////////////////////////////////////////////////
// Chapter List
////////////////////////////////////////////////////////////
.msp-ee-el-con {
  position: relative;
  display: flex;
  width: 55%;
  overflow-x: hidden;

  ////////////////////////////////////////////////////////////
  // Image Magnifier
  ////////////////////////////////////////////////////////////
  .ee-ep-magnify {
    position: fixed;
    top: 120px;
    left: 30%;
    width: 500px;
    z-index: 1;
    cursor: zoom-out;
    button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.212);
    }
  }

  ////////////////////////////////////////////////////////////
  // ePub Chapters Header
  ////////////////////////////////////////////////////////////
  .msp-ee-el-header {
    margin: 0 0 30px 100px;
    padding-top: 30px;
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 18px;
      border-left: 4px solid rgba(31, 163, 163, 0.849);
      padding: .5rem 1rem;
      background-color: rgba(24, 131, 131, 0.068);
      border-radius: 0 10px 10px 0;

      // span {
      //   background-color: rgba(162, 202, 240, 0.452);
      // }
      span.msp-ee-el-h-p-t {
        display: block;
        font-weight: bold;
        font-size: 20px;
        background-color: transparent;
      }
    }
  }

  .ee-el-chapters {
    position: relative;
    width: 100%;
    padding-top: 2rem;

    .ee-el-items {
      position: relative;
      width: 100%;
      flex: 0 0 auto;

      &:first-child {
        .ee-el-ch-title .ee-el-ch-t-remove-btn {
          pointer-events: none;
          display: none;
        }
      }

      &.fold {
        .ee-el-ch-title .ee-el-expand-btn {
           transform: rotate(180deg);
        }
      }

      .ee-el-ch-title {
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        background: linear-gradient(-180deg,#fff 90%,transparent);
        padding: 15px 0 15px 90px;
        animation: ee-el-title-show 200ms linear;

        input {
          font-weight: bolder;
          margin: 0;
          padding: 0 0 5px 10px;
          font-size: 32px;
          // border-top: 3px solid rgb(240, 240, 240);
          width: 100%;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          &:focus {
            text-overflow: initial;
          }
        }

        .ee-el-ch-t-remove-btn {
          position: absolute;
          top: 13px;
          left: 40px;
          opacity: 0;
          transition: opacity .2s ease-in;
        }

        .ee-el-expand-btn {
          transition: transform 100ms linear;
        }

        &:hover .ee-el-ch-t-remove-btn, 
        .ee-el-ch-t-remove-btn:focus-within {
          opacity: 1;
        }
      }


      ////////////////////////////////////////////////////////////
      // Compact Chapter View
      ////////////////////////////////////////////////////////////
      .ee-el-ch-compact-txt {
        display: flex;
        // width: 10px;
        margin: 0 0 40px 100px;
        position: relative;
        white-space: pre-wrap;
        animation: ee-el-ch-hide 200ms linear;
        font-size: 17px;
        line-height: 23px;
      }

      .ee-el-i-ul {
        position: relative;
        flex: 0 0 auto;
        animation: ee-el-ch-show 200ms linear;
      }


      ////////////////////////////////////////////////////////////
      // ePub Chapters Item
      ////////////////////////////////////////////////////////////
      .ee-el-item {
        position: relative;
        width: 100%;
        padding: 0;
        transition: padding .2s linear;

        .ee-el-i-info {
          padding-left: 100px;
          
          .ee-el-i-img {
            position: relative;
            min-width: 150px;
            height: max-content;
  
            img {
              position: relative;
              width: 150px;
              object-fit: contain;
              cursor: zoom-in;
            }
          }
  
          .ee-el-i-text {
            position: relative;
            white-space: pre-wrap;
            padding-left: 10px;
            font-size: 17px;
            line-height: 23px;
            // height: 92px;
            overflow: hidden;
          }
        }

        .ee-el-i-actions {
          transition: opacity .2s ease-in;
          opacity: 0;
          pointer-events: none;

          .ee-el-i-split-btn {
            width: 100%;
            span {
              border-radius: 0 20px 20px 0 !important;
            }
          }
        }

        &:not(:last-child):hover {
          .ee-el-i-actions {
            pointer-events: visible;
            opacity: 1;
          }
        }

        // &:not(:last-child) {
        //   .ee-el-i-actions:hover {
        //     opacity: 1;
        //   }
        // }
      }
    }
  }
}


////////////////////////////////////////////////////////////
// ePub Preview
////////////////////////////////////////////////////////////
.msp-ee-ep-con {
  position: relative;
  width: 45%;
  padding: 60px 30px 150px 30px;
  position: sticky;
  top: 0;
  height: calc(100vh - 93px);
  overflow-y: auto;
  overflow-x: visible;
}


////////////////////////////////////////////////////////////
// Action Buttons
////////////////////////////////////////////////////////////
.msp-ee-act {
  position: fixed;
  right: 20px;
  bottom: 15px;

  .ee-act-btn span {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.384);
  }

  .ee-act-save-btn {
    margin-right: 10px;
  }
}

////////////////////////////////////////////////////////////
// Cover Picker
////////////////////////////////////////////////////////////
.msp-ee-cp-con {
  width: 100%;
  display: flex;

  .ee-cp-imgs {
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: flex-start;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;

    .ee-cp-img-con {
      position: relative;
      margin: 5px;
      cursor: pointer;

      img {
        width: 100px;
      }

      .ee-cp-img-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        &:hover {
          background-color: rgba(0, 0, 0, 0.287);
        }

        i {
          font-size: 35px;
          color: white;
        }
      }

      &[data-current=true] .ee-cp-img-wrapper {
        background-color: rgba(0, 0, 0, 0.61);
      }
    }
  }

  .ee-cp-cover {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
    }
  }
}

////////////////////////////////////////////////////////////
// Chapter Navigator
////////////////////////////////////////////////////////////
.msp-ee-cn-con {
  position: fixed;
  top: 150px;
  left: 0;
  z-index: 3;

  .ee-cn-open-btn {
    animation: ee-cn-show 300ms linear;
    &:hover span {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.459);
    }

    span {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.384);
      // background-color: rgb(38, 148, 148) !important;
      
      i {
        font-size: 30px !important;
      }
    }
  }

  .ee-cn-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .ee-cn-ch-con {
    width: 270px;
    padding: 0 20px 20px 0;
    margin-top: -30px;
    // background-color: rgb(226, 226, 226);
    background-color: rgb(242, 246, 246);
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.295);
    height: 600px;
    max-height: 70vh;
    animation: ee-cn-show 100ms linear;
    overflow-x: hidden;
    overflow-y: auto;

    &.hide {
      margin-left: -270px;
      animation: ee-cn-hide 100ms linear;
    }

    .ee-cn-h {
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(-180deg,rgb(242, 246, 246) 90%,transparent);
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 10px 0 10px 20px;
      h3 {
        padding: 0;
        margin: 0;
      }
    }

    .ee-cn-ch-ul {
      .ee-cn-ch-li span {
        padding-left: 10px;
        text-align: left;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

@keyframes ee-cn-show {
  0% { margin-left: -270px; }
  100% { margin-left: 0px; }
}
@keyframes ee-cn-hide {
  0% { margin-left: 0px; }
  100% { margin-left: -270px; }
}
@keyframes ee-el-ch-hide {
  0% { padding: 200px 0; opacity: 0; }
  100% { padding: 0px 0; opacity: 1; }
}
@keyframes ee-el-ch-show {
  0% { opacity: 0; max-height: 50px; }
  100% { opacity: 1; max-height: 1000px; }
}
@keyframes ee-el-title-show {
  0% { padding: 0 0 0 90px; opacity: 0; }
  100% { padding: 15px 0 15px 90px; opacity: 1; }
}