/**
 * stylesheet for offering page
 */

::-webkit-scrollbar{
  display: none;
}
.cs-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.808);
  z-index: 1;
}

.course-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
}

.course-container .content {
  display: flex;
  flex-direction: column;
}

/* Side bar */

.course-sidebar {
  position: absolute;
  height: 100%;
  width: 20rem;
  padding-top: 4.5rem;
  padding-bottom: 3rem;
  background-color: rgb(240, 240, 240);
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.2s linear;
  z-index: 3;
  box-shadow: 1px 10px 5px #dddddd;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 900px) {
  .course-sidebar {
    margin-left: -20rem;
    background-color: rgba(233, 231, 231, 0.904);
  }
}
.course-sidebar .list {
  border-radius: 0;
  color: rgb(77, 76, 76);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s linear;
  overflow-x: hidden;
  /* margin-top: 0.5rem; */
}
.course-sidebar .list:hover {
  margin-left: 10px;
}

/* offering details */

.course-sidebar .details {
  border-radius: 0;
  background: none;
  border: none;
  transition: all 0.2s linear;
  margin-bottom: 0.4rem;}
  .course-sidebar .details:hover {
    padding-left: 2rem;}

.course-sidebar .details .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(77, 76, 76);
  font-size: 1.2rem;
  font-weight: bold;
}
.course-sidebar .details .sec {
  /* transition-delay: 0.1s; */
  color: rgb(77, 76, 76);
  font-size: 1.1rem;
  line-height: 2rem;
  /* padding-left: 2.1rem; */
}
.course-sidebar .details .name {
  /* padding-left: 2.1rem; */
  font-size: 1.1rem;
  line-height: 2rem;
}

/* Playlist */

.course-sidebar .noplaylist-wrapper {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-sidebar .noplaylist-wrapper h4 {
  color: #949494;
}

.course-sidebar .playlists .breakline {
  width: 94%;
  margin-left: 3%;
  height: 1rem;
  border-bottom: solid 0.03rem rgb(170, 169, 169);
}

.course-sidebar .playlists .title {
  color: rgb(77, 76, 76);
  background: none;
  border: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.course-sidebar .playlists .playlist {
  width: 96%;
  margin-left: 2%;
}
.course-sidebar .playlists .playlist::-webkit-scrollbar {
  display: none;
}
.new-pl-btn {
  width: 94%;
  margin: 0 0 1rem 3%;
}
.course-sidebar .playlists .playlist .item {
  padding-bottom: 0.3rem;
  border: 0;
  border-radius: 0;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
/*****bootstrap UI**********/
.list-group-item-secondary {
  background-color: rgb(240, 240, 240);
}
.list-group-item-secondary:focus {
  outline: none;
}
.list-group-item-secondary:hover {
  background: rgb(221, 221, 221) !important;
}
.list-group-item-secondary.list-group-item-action.active {
  background-color: rgb(240, 240, 240);
  color: #4a9b87;
}
/*****bootstrap UI end**********/

/* .course-sidebar .playlists .playlist .item:hover {
  
} */
.course-sidebar .playlists .playlist .item:active {
  color: #3db998;
  padding-left: 2rem;
}
.playlist .item .pl-name {
  white-space: nowrap; 
  width: 15rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* results */

.content-result {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
  overflow: scroll;
}
@media screen and (max-width: 900px) {
  .content-result {
    padding-left: 3rem;
  }
}
.height-100 {
  height: 100%;
}

.empty-result {
  padding-top: 3.5rem;
  /* height: 80%; */
  
}
.empty-result .welcome {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-result .welcome h2 {
  color: rgb(1, 2, 2);
  font-size: 3rem;
  line-height: 0rem;
} .empty-result .welcome h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(29, 177, 177);
  font-size: 4rem;
  font-weight: bolder;
} 
/* Videos */

.csp-videos {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  padding: 4.5rem 5% 0rem 5%;
  -webkit-overflow-scrolling: touch;
}

.csp-videos .playlist-btn {
  width: 100%;
  border-bottom: 0.03rem solid rgb(212, 212, 212);
  /* margin-left: 5%; */
  padding: 0 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.csp-videos .playlist-btn .edit-btn {
  margin: 0.7rem 0 0.5rem 0rem;
  width: 20rem;
}
.csp-videos .playlist-btn .delete-btn {
  width: 20rem;
  margin: 0.7rem 0.5rem 0.5rem 0.5rem;
}
.csp-videos .playlist-btn .new-btn {
  width: 100%;
  margin: 0.7rem 0.5rem 0.5rem 0.5rem;
}
.novideo-wrapper {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.novideo-wrapper h4 {
  font-size: 2rem;
  color: #949393;
  text-align: center;
}

.csp-videos .vlist {
  width: 100%;
  min-height: 75vh;
}
.csp-videos .list .video-card {
  transition: all 0.2s linear;
  padding: 1rem 0 1rem 1rem !important;
  white-space: nowrap; 
  border-bottom: solid 1px #d8d6d6;
  /* border-radius: 1rem; */
}

.csp-videos .list .video-card .img {
  height: 4rem;
  width: 6rem;
  border-radius: 0.5rem;
  margin-right: 1rem !important;
  cursor: pointer;
}
.csp-videos .list .video-card .info {
  display: inline-block;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.csp-videos .list .video-card .info .title {
  color: rgb(63, 139, 133);
  font-size: 1.2rem;
  cursor: pointer;
  /* text-decoration: underline; */
  width: 45vw !important;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;}
  .csp-videos .list .video-card .info .title:hover {
    text-decoration: underline;
    color: rgb(43, 174, 185);}
  .csp-videos .list .video-card .info .title:active {
    color: rgb(31, 195, 201);;}
  @media screen and (max-width: 520px) {
    .csp-videos .list .video-card .info .title {
      font-size: 1.1rem;
    }
  }

.csp-videos .list .video-card .list-dropdown-btn {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/******************************/
