.sp-home .offering-list .section {
  position: relative;
  width: 100%;
}
  
  .sp-home .offering-list .section .title {
    padding: 0;
    margin: 0;
    color: var(--ct-text-primary-light);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;}
    .sp-home .offering-list .section .title span {
      color: rgb(104, 104, 104);
      font-size: 1.1rem;
      font-weight: normal;
      margin-left: 1em;
    }
    .sp-home .offering-list .section .title i {
      color: var(--ct-text-title);
    }
    @media screen and (max-width: 600px) {
      .sp-home .offering-list .section .title {
        padding-left: 1em;}
        .sp-home .offering-list .section .title span {
          display: block;
          margin-left: 0;
        }
    }

    /* Overlay Buttons */
    .sp-home .offering-list .section .button {
      position: absolute;
      background: #fcfcfc;
      border-radius: 10px !important;
      border: var(--ct-border-color-transparent) !important;
      transition: var(--ct-transition-bg), var(--ct-transition-transform);
      -o-transition: var(--ct-transition-bg), var(--ct-transition-transform);
      -moz-transition: var(--ct-transition-bg), var(--ct-transition-transform);
      -webkit-transition: var(--ct-transition-bg), var(--ct-transition-transform);
      z-index: 1;}
    .sp-home .offering-list .section .button span {
      color: var(--ct-text-primary-light);}
      .sp-home .offering-list .section .button[type=offering-show-all-btn] {
        color: var(--ct-text-primary-light);
        right: 2em;
        bottom: -2em;}
        .sp-home .offering-list .section .button:hover {
          border: var(--ct-border-color) !important;
          background: #e9e9e9 !important;
        }
      .sp-home .offering-list .section .button[type=offering-close-btn], .sp-home .offering-list .section .button[type=offering-close-btn-reverse] {
        border-radius: 50% !important;
        padding: .4em;
        color: rgb(114, 114, 114);
        background: transparent;
        font-size: 1.3em;
        right: 0;
        top: .3em;
      }
        .sp-home .offering-list .section .button[type=offering-close-btn-reverse] {
          transform: rotate(-180deg);
          -o-transform: rotate(-180deg);
          -moz-transform: rotate(-180deg);
          -webkit-transform: rotate(-180deg);
        }
        .sp-home .offering-list .section .button[type=offering-show-all-btn]:hover, .sp-home .offering-list .section .button[type=offering-close-btn]:hover {
          color: #3a3a3a;}
        .sp-home .offering-list .section .button[type=offering-show-all-btn]:focus >span, .sp-home .offering-list .section .button[type=offering-close-btn]:focus > span {
          color: var(--ct-text-highlight);}


  /* Offering horizontal scroll area */

  .sp-home .offering-list .section .offerings {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: max-content;
    overflow-x: auto;
    padding-left: 10px;
    margin-top: 5px;
    -webkit-overflow-scrolling: touch;}
    .sp-home .offering-list .section .offerings[id=starred-offerings] {
      padding-bottom: 1em;
    }
    /* .sp-home .offering-list .section .offerings::-webkit-scrollbar {
      display: block;
      background: rgb(248, 248, 248);
      width: 2px;
      height: 4px;}
      .sp-home .offering-list .section .offerings::-webkit-scrollbar-track-piece {
        background: #fcfcfc;
      }
      .sp-home .offering-list .section .offerings::-webkit-scrollbar-thumb {
        background-color: #e9e9e9;
      } */

  .sp-home .offering-list .section .offerings-show-all {
    flex-wrap: wrap; 
  }

/* Offering Card */

.sp-home .offering-list .section .offerings .offering-card-container {
  margin: 0.5rem 0.5rem 0rem 0;
  position: relative;}

/* Overlay Buttons */
.sp-home .offering-list .section .offerings .offering-card-container .overlay-btn {
  position: absolute;
  z-index: 1;
  opacity: 0;
  border-radius: 50% !important;
  background: rgb(241, 241, 241) !important;}
  .sp-home .offering-list .section .offerings .offering-card-container .overlay-btn:focus {
    opacity: 1;
  }
  .sp-home .offering-list .section .offerings .offering-card-container .overlay-btn:hover {
    background: rgb(231, 231, 231) !important;}
  .sp-home .offering-list .section .offerings .offering-card-container:hover>.overlay-btn {
    opacity: 1;
    animation: showOverlay .5s linear;
    -o-animation: showOverlay .5s linear;
    -webkit-animation: showOverlay .5s linear;
  }
  /* Starred */
  .sp-home .offering-list .section .offerings .offering-card-container .star-btn-middle {
    top: 4.5em;
    right: 5px;}
  .sp-home .offering-list .section .offerings .offering-card-container .star-btn-top {
    top: 5px;
    right: 5px;}
  .sp-home .offering-list .section .offerings .offering-card-container .starred-btn i {
    color: rgb(52, 173, 163) !important;
  }

@media screen and (max-width: 600px) {
  .sp-home .offering-list .section .offerings .offering-card-container .overlay-btn {
    opacity: 1;
  }
  .sp-home .offering-list .section .offerings .offering-card-container .star-btn {
    top: .5em;
    right: .2em;
    background: none !important;
  }
}

@keyframes showOverlay {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes showOverlay {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes showOverlay {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes showOverlay {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.sp-home .offering-list .section .offerings .offeringCard {
  display: inline-block;
  flex: 0 0 auto;
  white-space: normal;
  overflow: hidden;
  border-radius: 10px !important;
  border: 0.1rem solid #fcfcfc;
  transition: var(--ct-transition-border);
  -o-transition: var(--ct-transition-border);
  -moz-transition: var(--ct-transition-border);
  -webkit-transition: var(--ct-transition-border);
  cursor: pointer;}
  .sp-home .offering-list .section .offerings .image-card {
    /* background: transparent !important; */
    background: #ffffff !important;
    /* box-shadow: 0em 0em 0 .1em rgb(241, 241, 241); */
    border: 0.1rem solid rgb(230, 230, 230);
    width: 16rem;
    height: 14.5rem}
  .sp-home .offering-list .section .offerings .basic-card {
    background: #ffffff !important;
    width: 16rem;
    height: 9rem;
    box-shadow: .5em .6em .8em rgba(149, 149, 149, 0.637);
    border: 0.1rem solid transparent;
  }
.sp-home .offering-list .section .offerings .offeringCard[data-mobile=false]:hover, 
.sp-home .offering-list .section .offerings a {
  outline: none;
}
.sp-home .offering-list .section .offerings a:focus, 
.sp-home .offering-list .section .offerings a:active, 
.sp-home .offering-list .section .offerings .offeringCard[data-mobile=false]:hover {
  border-radius: 10px !important;
  border-color:rgb(69, 165, 168);
}
.sp-home .offering-list .section .offerings .offeringCard>.card-body {
  padding: 0.5rem !important;
  transition: margin 0.2s linear;
  -o-transition: margin 0.2s linear;
  -webkit-transition: margin 0.2s linear;
}
.sp-home .offering-list .section .offerings .offeringCard .img {
  transition: margin 0.2s linear;
  -o-transition: margin 0.2s linear;
  -webkit-transition: margin 0.2s linear;
  /* border-radius: 9px; */
  overflow: hidden;
  max-height: 124px;
  border-bottom: .1rem solid rgb(230, 230, 230);
  height: 8em;
  object-fit: contain;
  width: 15.8rem;}
.sp-home .offering-list .section .offerings .offeringCard .title {
  transition: margin 0.2s linear;
  -o-transition: margin 0.2s linear;
  -webkit-transition: margin 0.2s linear;
  font-size: 1.3em;
  /* color: var(--ct-text-title); */
  color: var(--ct-text-primary-light);
  padding: 0;
  font-family: var(--ct-font-narrow);
}
.sp-home .offering-list .section .offerings .offeringCard .title p {
  font-family: var(--ct-font-google);
  color: var(--ct-text-title);
  font-weight: bold;
  width: 10em !important;
  white-space: nowrap;
  margin: 0 !important;
  padding: 0rem !important;
  line-height: 1.3em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 1.25em;
}
.sp-home .offering-list .section .offerings .offeringCard .info {
  transition: margin 0.2s linear;
  -o-transition: margin 0.2s linear;
  -webkit-transition: margin 0.2s linear;
  color: rgb(61, 61, 61);
  font-weight: normal;
  margin-top: 0em;
  margin-bottom: .5em;
}
.sp-home .offering-list .section .offerings .offeringCard .description {
  color: rgb(70, 102, 102);
  position: relative; 
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-overflow-scrolling: touch;
}
/* @media screen and (min-width: 600px) {
  .sp-home .offering-list .section .offerings .offering-card-container:hover .image-card .img, .sp-home .offering-list .section .offerings a:focus .image-card .img{
    margin-top: -7rem;}
  .sp-home .offering-list .section .offerings .offering-card-container:hover .image-card .card-body, .sp-home .offering-list .section .offerings a:focus .image-card .card-body{
    margin-top: 1.5rem;}
  .sp-home .offering-list .section .offerings .offering-card-container:hover .image-card .title, .sp-home .offering-list .section .offerings a:focus .image-card .title{
    margin-bottom: 1rem;}
  .sp-home .offering-list .section .offerings .offering-card-container:hover .image-card .info, .sp-home .offering-list .section .offerings a:focus .image-card .info{
    margin-bottom: 1.5rem;}
  .sp-home .offering-list .section .offerings .offering-card-container:hover .image-card .description, .sp-home .offering-list .section .offerings a:focus .image-card .description {
    white-space: normal;
  }
} */
/* .sp-home  .offeringCard .description::-webkit-scrollbar {
  display: block;
  width: 3px;
}
.sp-home  .offeringCard .description::-webkit-scrollbar-track-piece {
  background-color: rgb(246, 246, 246) !important;
}
.sp-home  .offeringCard .description::-webkit-scrollbar-thumb {
  background: rgba(198, 219, 223, 0.685);
} */

.sp-home .offering-list .section .offerings .offeringCard[id=offering-card-holder] {
  cursor: default;
  pointer-events: none;
}
.sp-home .offering-list .section .offerings .offeringCard[id=offering-card-holder]:hover {
  border: 0.1rem solid transparent;
}


.media-card-container {
  width: 222px;
  height: max-content;
  margin: .5em .5em 1em 0;
  /* background: white; */
  /* border: 1px #fcfcfc solid; */
  /* border-radius: 10px; */
  overflow: hidden;
  flex: 0 0 auto;
  /* box-shadow: .5em .6em .8em rgb(149, 149, 149); */
}
.media-card-container:hover .media-info .media-name, .media-card-container:focus-within .media-info .media-name {
  /* border: 1px solid rgb(69, 165, 168); */
  /* border: 1px solid rgb(69, 165, 168) !important; */
  color: rgb(53, 138, 141);
}

.media-card-container .media-info {
  padding: .3em;
}
.media-card-container .media-info .media-name {
  color: var(--ct-text-primary);
  font-size: 17px;
  margin-bottom: .3em;
  font-family: 'Roboto Condensed', sans-serif;
}
