.ctp.menu.settings {
  bottom: 60px;
  right: 20px;
  width: max-content;
  min-width: 250px;
  height: max-content;
  max-height: calc(100% - 60px - 70px);
  overflow-y: auto;
  padding: 10px 0;

  color: white;
  background-color: rgba(27, 27, 27, 0.897);
  display: none;

  &.open {
    display: block;
  }

  .ctp.settings-menu {
    width: 100%;
    display: flex;
    flex-direction: column;

    .ctp.settings-menuitem {
      width: 100%;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 10px;
      white-space: nowrap;

      &:hover {
        background-color: rgba(65, 65, 65, 0.575);
      }

      &.bordered {
        border-bottom: 1px solid grey;
      }

      &.go-back {
        border-bottom: 1px solid grey;
        margin-bottom: 5px;
        padding: 10px 10px;
      }

      span {
        display: flex;
        align-items: center;
        width: max-content;
      }

      .current-value {
        margin-left: 15px;
      }

      .ctp.check-icon {
        margin-right: 10px;
        opacity: 0;
        &.checked {
          opacity: 1;
        }

        i {
          font-size: 15px;
        }
      }

      .ctp.menuitem-text {
        font-weight: bold;
      }
    }
  }
}