#ct-epb-ech-con {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.ct-epb.ech.nav-con {
  position: relative;
  width: 23%;
  padding: 0 20px 80px 0;
  overflow-y: auto;
}

.ct-epb.ech.tool-bar {
  width: 23%;
  overflow-y: auto;
  padding: 20px;
  justify-content: space-between;

  .ech.tool-bar-btn {
    width: 100% !important;
    margin-bottom: 10px;
  }
}