body, html {
  margin: 0;
  color: #272727;
  font-family: -apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

/* TOC */
#toc_container {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  font-size: 95%;
  margin-bottom: 1em;
  padding: 20px;
}

#toc_container #toc_title {
  font-weight: 700;
  text-align: center;
}

#toc_container li, 
#toc_container ol, 
#toc_container ol li{
  list-style: outside none none;
}

#toc_container ol li {
  margin: 5px 0;
}

#epub_title {
  text-align: center;
}
#epub_author {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

#epub_cover {
  display: none;
  justify-content: center;
}

@media print {
  #epub_cover {
    display: flex;
  }
  #epub_content h2,
  #epub_content h3,
  #toc_container {
    page-break-before: always;
  }

  #epub_content h3 {
    page-break-after: avoid;
  }

  .epub-sub-ch {
    display: inline-block;
  }

  #skip_toc {
    display: none;
  }
}

