.ct-heading-con {
  .ct-heading {
    margin-top: 0 !important;
    font-size: 30px;
    display: flex;
    align-items: center;
  }

  // &.sticky {
  //   position: sticky;
  // }

  &.gradient {
    background: linear-gradient(to bottom,white 90%,rgba(255, 255, 255, 0));
  }

  i {
    margin-right: 5px;
    font-size: 30px;
    font-weight: bold;
    color: var(--ct-green-normal);
  }
}