.ctp.main-wrapper {
  &:focus-within, &.show {
    .ctp.progress-con {
      padding: 0 8px;
      transition: padding 100ms linear;
    }
  }

  .ctp.progress-con {
    width: 100%;
    height: 20px;
    position: relative;
    overflow: visible;

    .ctp.seek-time-prompt {
      position: absolute;
      width: 60px;
      top: -25px;
      padding: 3px;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.555);
      margin-left: -23px;
      color: white;
    }

    .ctp.time-slider-con {
      width: 100%;
      height: 20px;

      .ctp.buffer-slider {
        .MuiSlider-rail {
          opacity: 0;
          // height: 3px;
        }
        .MuiSlider-thumb {
          display: none;
        }
        .MuiSlider-track {
          background-color: rgb(130, 146, 145);
        }
      }
    
      .ctp.time-slider {
        transform: translateY(-33px);
  
        .MuiSlider-rail {
          background-color: white;
        }
    
        .MuiSlider-track, .MuiSlider-thumb {
          background-color: rgb(0, 236, 236);
        }
        .MuiSlider-thumb {
          transform: scale(0.1);
          transition: transform 100ms linear;
        }

        .MuiSlider-markLabel {
          top: -15px;
          color: white;
        }
    
        &:hover, &:focus-within {
          .MuiSlider-thumb {
            transform: scale(1);
          }
        }
      }
    }
  }
}