.msp-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1002;

  .msp-sub-h {
    // border-bottom: var(--ct-border-color);
    box-shadow: 0 0 10px rgba(165, 185, 187, 0.308);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: white;
    .msp-me-info {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      padding-bottom: .8rem;
      .msp-me-name {
        // color: var(--ct-text-title);
        color: rgb(58, 58, 58);
        // font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        font-family: var(--ct-font-narrow);
        max-width: 260px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
      }
    }
  }

  .msp-h-tabs-con {
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;

    .msp-h-tab {
      padding: 1px .5rem 0 .5rem;
      height: max-content;
      overflow: hidden;
      span {
        height: auto;
        position: relative;
        font-size: 19px;
        line-height: 19px;
        font-weight: 500;
        color: rgb(104, 104, 104);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid transparent;
        font-family: var(--ct-font-google);
        // text-transform: uppercase;
        padding: 3px .2em 11px .2em;
        transition: all .2s ease-in;
      }

      &:hover span, &:focus span {
        color: black;
        border-color: rgb(93, 93, 93);
      }
      &:focus {
        outline: 1px solid rgb(7, 150, 143);
      }
      &[data-current=true] span {
        font-weight: 500;
        color: var(--ct-text-title);
        border-color: var(--ct-green-normal);
      }
    }
  }

  .msp-sub-h {
    width: 100%;
  }
}