.msp-ee-con {
  width: 100%;
  position: relative;
  padding-top: 91px;
  min-width: 1100px;
  height: 100vh;

  .msp-ee {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 91px);
  }

  .msp-ee[data-column] {
    flex-direction: column;

    .ee-request-epub-text {
      font-size: 20px;
      white-space: pre-wrap;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}


////////////////////////////////////////////////////////////
// Action Buttons
////////////////////////////////////////////////////////////
.msp-ee-act {
  position: fixed;
  right: 20px;
  bottom: 15px;
  &[data-editing=false] {
    left: 20px;
    right: auto;
  }
  .ee-act-save-btn {
    margin-right: 10px !important;
  }
}
.ee-act-btn span {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.384);
}