.watch-menus {
  top: 4.5em;
  left: 0;
  right: 0;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 4.5em - 4.5em);
  background: rgb(0, 0, 0);
  opacity: .8;
  /* Add the blur effect */
  /* filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter:blur(4px); */
  z-index: 2;
}