.ct-epb.ch-edit-title {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;

  &.focused,
  &:focus-within {
    cursor: text;

    .ch-edit-title-txt {
      padding-left: 10px;
      background-color: rgb(241, 246, 246);
    }
  }

  .ch-edit-title-txt {
    transition: padding 200ms linear;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;

    &:hover {
      background-color: rgb(241, 246, 246);
    }

    &:focus {
      outline: none;
      background-color: rgb(241, 246, 246);
    }
  }
}