.ct-epb.ch-edit-title {
  width: 100%;
  border: none;
  outline: none;
  // cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;

  &.focused,
  &:focus-within {
    cursor: text;

    // .ch-edit-title-txt {
    //   padding-left: 10px;
    //   background-color: rgb(241, 246, 246);
    // }
  }

  .ch-edit-title-txt {
    transition: padding 200ms linear;
    width: 100%;
    margin: 0;
    padding: 5px 9px 6px 9px;
    // border-radius: 5px;
    border: dashed 1px rgba(0, 0, 0, 0);
    transition: all linear 150ms;

    &:hover {
      border-color: rgb(41, 41, 41);
      background-color: rgb(250, 251, 251);
    }

    &:focus {
      outline: none;
      border: solid 1px teal;
      // border-color: rgb(41, 41, 41);
      border-radius: 5px;
      // background-color: rgb(245, 250, 250);
    }
  }
}