
.msp-ee-ep-tb {
  position: relative;
  margin-left: 20px;
  float: right;
  width: 250px;
  height: max-content;
  max-width: 19vw;
  padding: 50px 10px 20px 10px;
  height: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .ee-ep-tb-top-holder {
    height: 200px;
  }

  .ee-tb-btn {
    width: 100% !important;
    &.ee-tb-btn-me {
      margin-bottom: 1rem;
    }

    &.epicker {
      margin-bottom: 100px;
    }
  }

  .ee-tb-btns {

    &.top {
      margin-bottom: 20px;
    }
  }
}