
.msp-ee-ep-tb {
  position: relative;
  margin-left: 20px;
  float: right;
  width: 250px;
  height: max-content;
  max-width: 19vw;
  padding: 50px 10px 20px 10px;
  height: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .ee-ep-tb-top-holder {
    height: 200px;
  }

  .ee-tb-btn {
    width: 100% !important;
    &.ee-tb-btn-me {
      margin-top: 1rem;
    }

    &.epicker {
      margin-bottom: 100px;
    }
  }

  .ee-tb-btns {
    margin-top: 1rem;

    .ee-tb-edit-btns {
      margin-bottom: 50px;
      border-radius: 5px;

      &.editing {
        margin-bottom: 0;
      }
    }
  }
}