.sp-content .offering-detail {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;}
  .sp-content .offering-detail .od-course-number {
    font-family: var(--ct-font-google);
    display: block;
    margin-top: 0em;
    margin-bottom: 0;
    color: rgb(48, 134, 134);
    font-size: 30px;}
  .sp-content .offering-detail .od-course-name {
    font-size: 30px;
    white-space: normal;
    display: block;
    margin: 0 0 2rem 0;
    font-family: var(--ct-font-google);
    color: rgb(75, 88, 87);}
  .sp-content .offering-detail .od-course-txt {
    display: block;
    white-space: normal;
    color: rgb(31, 31, 31);
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: .3rem;
  }
  .sp-content .offering-detail .od-course-inst {
    display: block;
    white-space: normal;
    color: rgb(57, 80, 78);
    white-space: normal;
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: .3rem;
  }
  .sp-content .offering-detail .offering-description {
    display: block;
    color: rgb(49, 49, 49);
    white-space: normal;
    font-size: 1.1rem;
    border-left: 4px #209b9b9a solid;
    padding: 5px 5px 5px 7px;
    margin-top: 10px;
    border-radius: 0 10px 10px 0;
    background-color: #c1e0e079;
  }
  @media screen and (max-width: 600px) {
    .sp-content .offering-detail .offering-info {
      padding-left: 1em;
    }
  }

/* Offering Info */
.sp-content .offering-detail .offering-info {
  padding-top: 2em;
  max-width: 1000px;
}

/* Playlist Loader */
.pl-loader {
  width: 100%;
  height: 10em;
  padding-top: 10em !important;
}


/* Playlist View */
.sp-content .offering-detail .playlist-container {
  border-top: 1px solid rgb(218, 218, 218);
  margin-top: 1em;
}
.sp-content .offering-detail .playlist-container button {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
}
.sp-content .offering-detail .playlist-container .playlists {
  position: relative;
}
.sp-content .offering-detail .playlist-item {
  position: relative;
  outline: 0;
  cursor: pointer;
  padding: 1.5em 2em 1.5em 2em;
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: background 0.2s linear;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sp-content .offering-detail .playlist-item:last-child {
  border-color: transparent;
  margin-bottom: 100px;
}
.sp-content .offering-detail  .playlist-item:hover, .sp-content .offering-detail .playlist-item:focus {
  background-color: #f3f3f3a4;
}
.sp-content .offering-detail  .playlist-item .playlist-name {
  color: #3f3f3f;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.sp-content .offering-detail  .playlist-item .playlist-name i {
  margin-right: .5em;
}
.sp-content .offering-detail .playlist-item:hover .playlist-name, .sp-content .offering-detail .playlist-item:focus .playlist-name, .sp-content .offering-detail .playlist-item:hover .playlist-vnum, .sp-content .offering-detail .playlist-item:focus .playlist-vnum {
  color: #318d8d;
}
.sp-content .offering-detail .playlist-item .pl-icon {
  position: absolute; 
  right: .5em;
  top: 35%;
  color: #5f6161;
}
.sp-content .offering-detail .playlist-item:hover .pl-icon, .sp-content .offering-detail .playlist-item:focus .pl-icon {
  color: #0e9191;
}

.sp-content .offering-detail .del-icon{
  background: none;
  border: none;
}
.sp-content .offering-detail .videos {
  padding: 0 2em;
}
.sp-content .offering-detail .videos .goback-container {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 1rem;
  background-color: #fbfbfb;
}
.sp-content .offering-detail .videos .title {
  color: var(--ct-text-primary);
  font-size: 1.4em !important;
  display: flex;
  margin-left: .5em !important;
  flex-direction: column;
  align-items: center;
}
.sp-content .offering-detail .videos .title i {
  margin-right: .5em;
}

.sp-content .offering-detail .playlist-container .title {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1em;
  margin-left: 1.7em;
  display: flex;
  flex-direction: row ;
  align-items: center;
}
.sp-content .offering-detail .playlist-container .title i {
  margin-right: 10px;
}

/* Playlist view 2.0 */
@media screen and (min-width: 1000px) {
  .sp-content .offering-detail {
    display: flex;
    flex-direction: row;
  }
  .sp-content .offering-detail .offering-info {
    padding-right: 1em;
    /* border-right: #dbdbdb solid 1px; */
    height: 92vh;
    position: sticky;
    top: 0em;
    min-width: 320px;
    max-width: 500px;
  }

  .sp-content .offering-detail h1 {
    word-break: break-all;
  }
  
  .sp-content .offering-detail .playlist-container {
    width: 100%;
    overflow-y: auto;
    padding-left: 0em;
    margin-right: -2em;
    padding-right: 0em;
    min-height: 90vh;
    border-top: none;
    margin-top: 0;
    background-color: #fbfbfb;
    -webkit-overflow-scrolling: touch;
  }
  .sp-content .offering-detail .divider {
    display: none;
  }
  .sp-content .offering-detail h2 span {
    display: block;
  }
}