.sp-content .offering-detail {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  background: #fcfcfc;}
  .sp-content .offering-detail h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    color: rgb(48, 134, 134);
    font-size: 3rem;}
  .sp-content .offering-detail h2 {
    display: inline;
    color: rgb(75, 88, 87);}
    .sp-content .offering-detail h2 span {
      color: grey;
      font-size: 1.2rem;
      font-weight: normal;}
  .sp-content .offering-detail h5 {
    display: inline;
    color: rgb(46, 46, 46);
    font-size: 1.1rem;
    font-weight: 300;
  }
  @media screen and (max-width: 600px) {
    .sp-content .offering-detail h1, .sp-content .offering-detail h2, .sp-content .offering-detail h2 span, .sp-content .offering-detail h4, .sp-content .offering-detail h5 {
      padding-left: 10px;
    }
    .sp-content .offering-detail h2 span {
      display: block;
    }
  }

/* Playlists */

.offering-detail .playlists {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.offering-detail .playlists .playlist {
  width: 100%;
  transition: height 0.2s linear;
  background-color: #508d8d;
  padding: .5em 1em !important;
  margin-bottom: 1em;}
  .offering-detail .playlists .playlist .card {
    border-radius: 0 !important;}
  .offering-detail .playlists .playlist .pl-header {
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255) !important;}
    .pl-header:hover>h4, .pl-header:active>h4 {
      color: rgb(209, 226, 228);}
    .offering-detail .playlists .playlist .pl-header h4 {
      font-size: 1.3em;}
    .offering-detail .playlists .playlist .pl-header p {
      color: rgb(226, 225, 225);}

  .offering-detail .playlists .playlist .videos {
    width: 100%;}
  .offering-detail .playlists .playlist .videos .video {
    width: 100%;
    height: 5rem;
    padding: 0;
    margin: .5rem 0;
    background: #508d8d;
    border: solid 1px transparent;
    white-space: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    -webkit-transition: border 0.2s linear;
    -o-transition: border 0.2s linear;
    transition: border 0.2s linear;}
  .offering-detail .playlists .playlist .videos .video:hover{
    border: solid 1px aliceblue;}
  .offering-detail .playlists .playlist .videos .video:hover> .title {
    color: #ffffff;}
  .offering-detail .playlists .playlist .videos .video .img {
    width: 9rem;}
  .offering-detail .playlists .playlist .videos .video .title {
    padding: .5rem;
    margin-left: 1em;
    text-align: left;
    color: #dee7e7;
    font-weight: bold;
    font-size: 1.1rem;}

/* Playlist Loader */
.pl-loader {
  width: 100%;
  height: 10em;
  padding-top: 5em;
}

.sp-content .offering-detail .offering-info {
  padding-top: 2em;
}
@media screen and (min-width: 1000px) {
  .sp-content .offering-detail {
    display: flex;
    flex-direction: row;
  }
  .sp-content .offering-detail .offering-info {
    padding-right: 1em;
    border-right: #dbdbdb solid 1px;
    height: 90vh;
    position: sticky;
    top: 0em;
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  /* .sp-content .offering-detail .offering-info h2 {

  } */
  .sp-content .offering-detail .playlist-container {
    width: 100%;
    overflow-y: scroll;
    margin-left: 2em;
    min-height: 90vh;
  }
  .sp-content .offering-detail .divider {
    display: none;
  }
  .sp-content .offering-detail h2 span {
    display: block;
  }
}