.sp-content .offering-detail {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  background: #fcfcfc;}
  .sp-content .offering-detail h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    color: rgb(48, 134, 134);
    font-size: 3rem;}
  .sp-content .offering-detail h2 {
    display: inline;
    color: rgb(75, 88, 87);}
    .sp-content .offering-detail h2 span {
      color: rgb(38, 105, 114);
      font-size: 1.2rem;
      font-weight: normal;}
  .sp-content .offering-detail .offering-description {
    display: inline;
    color: rgb(57, 80, 78);
    white-space: normal;
    font-size: 1.1rem;
  }
  @media screen and (max-width: 600px) {
    .sp-content .offering-detail .offering-info {
      padding-left: 1em;
    }
  }

/* Offering Info */
.sp-content .offering-detail .offering-info {
  padding-top: 2em;
}
.sp-content .offering-detail .offering-info .button {
  background: #378f8f;
  color: white;
}
.sp-content .offering-detail .offering-info .button[id=starred] {
  background: #dfe2e2;
  color: rgb(98, 98, 98);
}

/* Playlist Loader */
.pl-loader {
  width: 100%;
  height: 10em;
  padding-top: 10em !important;
}


/* Playlist View */
.sp-content .offering-detail .playlist-container {
  padding-top: 1rem;
  border-top: 1px solid rgb(218, 218, 218);
  margin-top: 1em;
}
.sp-content .offering-detail .playlist-container button {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
}
.sp-content .offering-detail .playlist-container .playlists {
  position: relative;
}
.sp-content .offering-detail .playlist-item {
  position: relative;
  outline: 0;
  cursor: pointer;
  padding: 1em 1em 0 1em;
  border-bottom: 1px solid rgb(212, 212, 212);
  transition: background 0.2s linear;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sp-content .offering-detail .playlist-item:last-child {
  border-color: transparent;
  margin-bottom: 100px;
}
.sp-content .offering-detail  .playlist-item:hover, .sp-content .offering-detail .playlist-item:focus {
  background-color: #e9e9e9;
}
.sp-content .offering-detail  .playlist-item .playlist-name {
  color: #318d8d;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  justify-content: center;
}
.sp-content .offering-detail  .playlist-item .playlist-name i {
  margin-right: .5em;
}
.sp-content .offering-detail .playlist-item:hover .playlist-name, .sp-content .offering-detail .playlist-item:focus .playlist-name, .sp-content .offering-detail .playlist-item:hover .playlist-vnum, .sp-content .offering-detail .playlist-item:focus .playlist-vnum {
  color: rgb(53, 170, 170);
}
.sp-content .offering-detail .playlist-item .pl-icon {
  position: absolute; 
  right: .5em;
  top: 35%;
  color: #5f6161;
}
.sp-content .offering-detail .playlist-item:hover .pl-icon, .sp-content .offering-detail .playlist-item:focus .pl-icon {
  color: #0e9191;
}

.sp-content .offering-detail .del-icon{
  background: none;
  border: none;
}
.sp-content .offering-detail .videos .title {
  color: #000000;
  font-size: 1.4em !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sp-content .offering-detail .videos .title i {
  margin-right: .5em;
}

.sp-content .offering-detail .video-item {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  width: 100%;
  padding: 1em 1em;
  border-bottom: 1px solid rgb(212, 212, 212);
  outline: none;
}

.sp-content .offering-detail .video-item:last-child {
  margin-bottom: 100px;
  border: 0;
}

/* .sp-content .offering-detail .video-item:hover, .sp-content .offering-detail .video-item:focus {
  background-color: #e9e9e9;
} */

.sp-content .offering-detail .video-item .media-name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: rgb(0, 0, 0);
  margin-left: 1em;
  text-align: left;
  transition: color 0.2s linear;
}
.sp-content .offering-detail .video-item:hover .media-name, .sp-content .offering-detail .video-item:focus .media-name {
  color: rgb(53, 138, 141);
}

.sp-content .offering-detail .playlist-container .title {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1em;
  margin-left: 1em;
  display: flex;
  flex-direction: row ;
  align-items: center;
}
.sp-content .offering-detail .playlist-container .title i {
  margin-right: 10px;
}

/* Playlist view 2.0 */
@media screen and (min-width: 1000px) {
  .sp-content .offering-detail {
    display: flex;
    flex-direction: row;
  }
  .sp-content .offering-detail .offering-info {
    padding-right: 1em;
    /* border-right: #dbdbdb solid 1px; */
    height: 92vh;
    position: sticky;
    top: 0em;
    width: 440px;
    word-break: break-all;
  }
  
  .sp-content .offering-detail .playlist-container {
    width: 100%;
    overflow-y: scroll;
    padding-left: 2em;
    margin-right: -2em;
    padding-right: 2em;
    min-height: 90vh;
    border-top: none;
    margin-top: 0;
    background-color: #f6f6f6;
    -webkit-overflow-scrolling: touch;
  }
  .sp-content .offering-detail .divider {
    display: none;
  }
  .sp-content .offering-detail h2 span {
    display: block;
  }
}