.context-error {
  position: fixed;
  top: 0;
  background: #fcfcfc;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.context-error .ct-brand, .context-error .ct-brand:hover, .context-error .ct-brand:focus {
  margin-left: 0em;
  margin-bottom: 50px;
  font-size: 3em;
  height: auto;
  width: max-content;
}
.context-error .error-content {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 70vw;
  min-height: 55vh;
  padding: 2em;
}
.context-error .error-content .error-header {
  font-size: 2em;
  font-weight: bold;
  color: #707070;
  vertical-align: middle;
}
.context-error .error-content .error-subheader {
  font-size: 1.5em;
  font-weight: bold;
  color: #313131;
}
.context-error .error-content .error-mesg {
  font-size: 1.2em;
  color: #313131;
}
.context-error .error-content .error-actions {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  justify-content: space-between;
}
.context-error .error-content .error-actions a {
  padding: .7em;
  color: rgb(48, 141, 141);}
  .context-error .error-content .error-actions a:hover {
    color: rgb(27, 95, 95);
  }
  .context-error .error-content .error-actions a[id=reload] {
    background-color: #228686;
    color: #fcfcfc;
    width: max-content;
    height: max-content;
    margin-bottom: .7em;
  }
  .context-error .error-content .error-actions a[id=reload]:hover {
    background-color: rgb(27, 95, 95);
  }