.context-alert {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;}
  .context-alert .alert {
    z-index: 2000 !important;
    border: none;
    box-shadow: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    z-index: 10;
    min-height: 3rem;
    font-size: 1.1rem;
    transition: all .2s linear;
    box-shadow: 0em 0em .8em rgba(0, 0, 0, 0.418);
  }
    .context-alert .alert[id=alert-top] {
      min-width: 70%;
      animation: showup-down .3s linear;
      top: 1em;}
    .context-alert .alert[id=alert-bottom] {
      transform: translateY(-50px, 0);
      bottom: .5em;
      min-width: 40%;
    }
    .alert-success {
      background: #228686;
      color: white;
    }
    .alert-danger {
      background: #f39315;
      color: white;
      font-size: 1.4em !important;
    }

    @keyframes showup-down {
      0% {top: -4em; opacity: 0;}
      100% {top: 1em; opacity: 1;}
    }