.ip-p-up-con {
  z-index: 101;
}
.ip-p-up-loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(230, 230, 230, 0.507);
}

.ip-p-up-tb, .ip-p-up-tb table {
  width: 100%;
}

.ip-p-up-tb tr.v-content:hover {
  background-color: rgb(243, 243, 243);
}

.ip-p-up-tb th {
  border-bottom: 2px solid rgb(219, 219, 219);
  border-collapse: collapse;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 0 .5em .8em 1em;
  color: rgb(75, 75, 75);
  min-width: 36px;
}
.ip-p-up-tb th span {
  color: var(--ct-green-normal);
  font-size: .7em;
  font-family: var(--ct-font-narrow);
  text-transform: none;
}
.ip-p-up-tb td {
  border-bottom: 1px solid rgb(212, 212, 212);
  border-collapse: collapse;
  padding: 1em;
  font-size: 1.3em;
}
.ip-p-up-tb tr:last-child td {
  border-bottom: none;
}
.ip-p-up-tb td.v-index {
  padding: .2em .2em .2em 1em;
  font-weight: bold;
}
.ip-p-up-tb td.v-index i {
  color: var(--ct-green-normal);
  font-size: 1.4em;
}

.ip-p-up-tb td.v-name .name {
  display: block;
  font-family: var(--ct-font-narrow);
  color: rgb(46, 46, 46);
  font-size: 1.3em;
  line-height: 1.3em;
}
.ip-p-up-tb td.v-name .name.empty {
  color: grey;
}
.ip-p-up-tb td.v-name .size {
  display: block;
  color: grey;
  font-size: .9em;
  margin-top: .5em;
}
.ip-p-up-tb td.v-actions {
  min-width: 95px;
  white-space: nowrap;
  padding: 0 .2em;
  text-align: center;
}
/* .ip-p-up-tb td.v-actions .v-a-btn {
  
} */
.ip-p-up-tb td.v-actions .v-a-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
}
.ip-p-up-tb td.v-actions .v-a-btn:not(:disabled):hover > span {
  background-color: rgb(226, 226, 226);
}
.ip-p-up-tb td.v-actions .v-a-btn:not(:disabled):active > span {
  background-color: rgb(206, 206, 206);
}

.ip-p-up-tb td.v-actions .v-prog-1 {
  height: 5px;
  width: 80px;
  background-color: rgb(209, 212, 212);
  border-radius: 4px;
}
.ip-p-up-tb td.v-actions .v-prog-2 {
  height: 5px;
  background-color: rgb(14, 177, 169);
  margin-top: -5px;
  border-radius: 4px;
}
.ip-p-up-tb td.v-actions .v-prog-num {
  margin-top: .5em;
  font-size: .8em;
  color: #348b86;
}