.msp-ee-sch-con {
  ////////////////////////////////////////////////////////////
  // Image Magnifier
  ////////////////////////////////////////////////////////////
  .ee-sch-magnifier {
    position: fixed;
    top: 120px;
    right: 10%;
    width: 600px;
    z-index: 1;
    cursor: zoom-out;
    button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.26);
    }
  }

  ////////////////////////////////////////////////////////////
  // Action Buttons
  ////////////////////////////////////////////////////////////
  .sch-act-buttons {
    position: fixed;
    left: 100px;
    bottom: 20px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.proceed-btns {
      left: auto;
      right: 20px;
      bottom: 15px;
    }

    .sch-act-btn {
      margin-right: 10px !important;
      span.pico-btn-con {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.384);
      }
    }
  }
}