
.msp-e-view-con {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--ct-ip-grey-1);
  .msp-e-view-box {
    height: calc(100% - 55px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    overflow-x: hidden;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .msp-e-v-instructions {
    position: sticky;
    top: 0;
    margin-left: 1rem;
  }

  .msp-e-v-btns {
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-top: var(--ct-border-color);
    padding: 0 1rem;

    &.edit {
      justify-content: flex-end;
    }
  }
}