.ip-sidebar {
  width: 19em;
}

.ip-sb-title {
  /* border-bottom: rgb(241, 241, 241) 1px solid; */
  padding: .3em 1em;
  color: var(--ct-text-title);
}

.ip-sb-title h2 {
  font-family: var(--ct-font-google);
  font-size: 1.4em;
  padding: .2em .5em;
  margin: 0;
  text-transform: uppercase;
  margin-left: .3em;
}

.ip-sb-filter {
  margin-bottom: 2em;
}