#ip-p-md {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0em;
  background-color: inherit;
  box-shadow: 0 8px 8px rgb(209, 209, 209);
  animation: ip-right-in .1s ease-in-out;
  z-index: 800; // to cover the sticky title
  padding-top: 4.6em;
  &.close {
    animation: ip-right-out .1s ease-in-out;
  }
}
#ip-p-md-info {
  padding: 0 2em;
}

@keyframes ip-right-in {
  0% { right: -30em;}
  100% { right: 0em;}
}
@keyframes ip-right-out {
  0% { right: 0em;}
  100% { right: -30em;}
}

.ip-p-md-mname {
  margin-top: 0;
  width: 100%;
  font-size: 2em;
  font-family: var(--ct-font-google);
  color: rgb(68, 68, 68);
  transition: border .2s ease-in-out, padding .2s ease-in-out;

  &.edit {
    border-bottom: 3px solid rgb(202, 202, 202);
    padding: .1em .5em;
    border-radius: 4px;
    &:hover {
      border-color: black;
    }
    &:focus {
      border-color: var(--ct-green-normal);
    }
  }
  &:focus {
    outline: none;
  }
}