.ip-prompt {
  position: absolute;
  z-index: 1000;
}

.ip-pt-box {
  background: rgb(59, 59, 59);
  padding: 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 10em;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.719);
}

.ip-pt-text {
  font-size: 1.3em;
  padding: .7em 1em .7em 1em;
  font-family: var(--ct-font-google);
  color: var(--ct-text-white);
  display: flex;
  align-items: center;
}
.ip-pt-text i {
  margin: 0 .3em;
}

.ip-pt-close-btn {
  color: rgb(185, 185, 185);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .7em;
  /* border-left: var(--ct-border-dark); */
  transition: var(--ct-transition-all);
  -o-transition: var(--ct-transition-all);
  -moz-transition: var(--ct-transition-all);
  -webkit-transition: var(--ct-transition-all);
}
.ip-prompt.failed .ip-pt-close-btn {
  color: white;
}
.ip-pt-close-btn:hover, .ip-pt-close-btn:focus,
.ip-prompt.failed .ip-pt-close-btn:hover, .ip-prompt.failed .ip-pt-close-btn:focus {
  color: rgb(138, 138, 138);
  outline: none;
}

/* Positions */
.ip-prompt.right {
  right: 2em;
}
.ip-prompt.left {
  left: 2em;
  animation: bottom-right-show .2s ease-in-out;
  -o-animation: bottom-right-show .2s ease-in-out;
  -moz-animation: bottom-right-show .2s ease-in-out;
  -webkit-animation: bottom-right-show .2s ease-in-out;
}
.ip-prompt.bottom {
  bottom: 20px;
  animation: bottom-right-show .2s linear;
  -o-animation: bottom-right-show .2s linear;
  -moz-animation: bottom-right-show .2s linear;
  -webkit-animation: bottom-right-show .2s linear;
}

/* Status */
.ip-prompt.failed .ip-pt-box {
  background: rgb(236, 134, 1);
}


/* Animations */

/* bottom-right */
@keyframes bottom-right-show {
  0% {bottom: -1em;}
  100% {bottom: 20px;}}
@-o-keyframes bottom-right-show {
  0% {bottom: -1em;}
  100% {bottom: 20px;}}
@-moz-keyframes bottom-right-show {
  0% {bottom: -1em;}
  100% {bottom: 20px;}}
@-webkit-keyframes bottom-right-show {
  0% {bottom: -1em;}
  100% {bottom: 20px;}}

@keyframes bottom-right-hide {
  0% {bottom: 20px;}
  100% {bottom: -1em;}}
@-o-keyframes bottom-right-hide {
  0% {bottom: 20px;}
  100% {bottom: -1em;}}
@-moz-keyframes bottom-right-hide {
  0% {bottom: 20px;}
  100% {bottom: -1em;}}
@-webkit-keyframes bottom-right-hide {
  0% {bottom: 20px;}
  100% {bottom: -1em;}}