#ipl-pl-info {
  .pl-name {
    padding-left: 0;
    padding-bottom: 0;
  }

  .details {
    line-height: 20px;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #e2f1f179;
    border-radius: 10px;
  }

  // .actions {
  //   i.delete {
  //     color: rgb(218, 0, 0);
  //   }
  // }
}