.ctp.settings-root {
  position: relative;
  z-index: 10;

  .ctp.settings-menu-con {
    position: absolute;
    bottom: 45px;
    right: 0;
    min-width: 230px;
    // min-height: 100px;
    max-height: 200px;
    overflow: auto;
    background-color: rgba(27, 27, 27, 0.897);
    padding: 10px 0;

    .ctp.settings-menuitem {
      width: 100%;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 10px;
      white-space: nowrap;

      &:hover {
        background-color: rgba(65, 65, 65, 0.575);
      }

      &.go-back-btn {
        border-bottom: 1px solid grey;
        margin-bottom: 5px;
        padding: 10px 10px;
      }

      span {
        display: flex;
        align-items: center;
        width: max-content;
      }

      .ctp.check-icon {
        margin-right: 10px;
        opacity: 0;
        &.checked {
          opacity: 1;
        }

        i {
          font-size: 15px;
        }
      }

      .ctp.menuitem-text {
        font-weight: bold;
      }
    }
  }
}