/* Transcription Area */
.watch-trans-container {
  z-index: 0;
}

/* Header z-index: 1020 */

/* Contol bar */
.watch-ctrl-bar-container {
  z-index: 1020;
}

/* Players */
.ct-player-primary {
  z-index: 1;
}
.ct-player-secondary {
  z-index: 1;
}

/* Menu */
.watch-menus {
  z-index: 5;
}

/* Overlays */

/* Tab Event Helper Buttons */
.watch-tab-helper {
  z-index: 1021;
}
/* Closed Caption */
.watch-cc-container {
  z-index: 1;
}

/* Secondary Player Wrapper/Overlays */
.watch-secondary-wrapper {
  z-index: 2;
}

/* Prompts */
.watch-prompt {
  z-index: 3;
}