.ct-course-card-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  &:not(.row) {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
}

.ct-course-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 5px 10px 5px;
  width: 250px;
  
  &:not(.row) {
    background-color: rgb(250, 250, 250);
    border-radius: 5px;

    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }

  &.fluid {
    width: 100%;
  }

  &.row {
    margin: 0;
    &:not(:last-child) {
      border-bottom: 1px solid rgb(236, 236, 236);
    }

    .title {
      flex-direction: row;
    }
  }

  &:hover, &:active {
    .title {
      .number {
        text-decoration: underline;
      }
    }
  }

  span {
    display: block;
    width: 100%;
  }

  .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 25px;

    .number {
      margin-right: 10px;
      font-size: 22px;
      color: var(--ct-green-normal);
    }

    .name {
      font-size: 20px;
      color: rgb(65, 65, 65);
    }
  }

  .term {
    font-size: 15px;
    color: rgb(55, 83, 83);
  }

  .description {
    margin-top: 3px;
    color: rgb(93, 93, 93);
    max-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}