/**
 * Stylesheet for SubHeader
 */

.subheader-container {
  z-index: 1;
  width: 100%;
  color: rgb(240, 254, 255);
  overflow: hidden;
  padding: .5em 2em .5em 2em;
}

/* Video Info header */
.subheader-container .header {
  display: flex;
  flex-direction: row;}
  .subheader-container .header p {
    outline: none;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0 !important;}
  .subheader-container .header p span {
    color: #54b3b3;
    font-size: 1.3rem;
  }

@media screen and (max-width: 650px) {
  .subheader-container {
    padding: .5em .5em 0 .5em;
  }
  .subheader-container p strong {
    white-space: nowrap;
  }
}
