:root {
  /* Background Color */
  --watch-page-bg-color: rgb(37, 37, 37);
  --light-bg-color: #fcfcfc;
  --ct-btn-color: #458885;
  --ct-green-normal: #348b86;
  --ct-green-active: #23a1a1;
  /* Color */
  --ct-text-primary: #383838;
  --ct-text-primary-light: #4e4e4e;
  --ct-text-title: rgb(37, 113, 116);
  --ct-text-highlight: rgb(19, 211, 211);
  /* Font Family */
  --ct-font-narrow: 'Roboto Condensed', sans-serif;
  --ct-font-google: 'Roboto', sans-serif;
}