.ct-list-col {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ct-d-r-center-v {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ct-d-r {
  display: flex;
  flex-direction: row;
}

.ct-a-fade-in {
  animation: fade-in .4s ease-in;
}