.ee-ech-ch-text-con {
  width: 100%;
  margin: 8px 0;

  .ee-ech-ch-text {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;

    &:hover,
    &:focus {
      background-color: rgb(241, 246, 246);
    }
  }
}