/**
 * Stylesheet for instructor profile page
 */

.ip-bg {
  padding-top: 3.2rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #fcfcfc;
  -webkit-overflow-scrolling: touch;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ip-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-left: 3%;
}

/* Contents */
.ip-content {
  padding-top: 2rem;
  height: 100%;
  overflow: hidden;
  width: 97%;} 
  .ip-content .ui.segment {
    padding-top: 0 !important;
  }

.ip-content .title-courses {
  padding-left: 2.5rem;
  font-weight: bold;
  color: rgb(88, 121, 121);
  font-size: 1.2rem;
}

.ip-content .title-offerings {
  font-weight: bold;
  color: rgb(88, 121, 121);
  font-size: 1.2rem;
}
@media screen and (max-width: 780px) {
  .ip-content .title-courses, .ip-content .title-offerings {
    display: none;
  }
}

.ip-content .empty {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}
  .ip-content .empty h2 {
    color: rgb(1, 2, 2);
    font-size: 3rem;
    line-height: 0rem;} 
  .ip-content .empty h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(29, 177, 177);
    font-size: 4rem;
    font-weight: bolder;
  } 

/* Course */

/* rgb(236, 235, 235) */


.sp-pane {
  display: flex;
  flex-direction: column;}
  .sp-pane .ui.fluid.card {
    border: none !important;
    box-shadow: none !important;
    background: none !important;}
    .sp-pane .ui.card>.content, .sp-pane .ui.cards>.card>.content {
      background: none !important;}
  .sp-pane .course-info {
    padding-top: 0;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    text-overflow: ellipsis;}
    .sp-pane .course-info h2 {
      font-size: 2rem;
      display: inline;
      color: rgb(51, 143, 143);
      white-space: nowrap;}
    .sp-pane .course-info h5 {
      display: inline;
      font-size: 1.3rem;
      color: rgb(50, 131, 131);
      font-style: italic;}
    @media screen and (max-width: 800px) {
      .sp-pane .course-info h2 {
        display: block;}}
    .sp-pane .subtitle {
      margin-left: 3rem;
      width: 100%;
    }

  .offering-listitem {
    background: none !important;
    transition: all 0.2s linear !important;
    margin-bottom: 1em !important; 
    padding-left: 5% !important;
    cursor: pointer;}
    .offering-listitem:hover {
      background-color: rgb(233, 241, 241) !important;}
    .offering-listitem h3 {
      color: rgb(49, 124, 118);
      font-size: 1.3em !important;
    }


.offering-info .course-num {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;}
.offering-info h3 {
  color: rgb(49, 124, 118);}
  @media screen and (max-width: 980px) {
    .offering-info h3 {
      font-size: 1.1rem;
    }
  }

@media screen and (min-width: 790px) {
  .new-offering-btn::after {
    content: ' New Offering'
  }
}

.no-offering {
  width: 100%;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Semantic UI Customization */
.ui.vertical.tabular.menu {
  height: 100%;
}
.ui.celled.grid>.row>.column {
  overflow: hidden;
}

.ui.vertical.tabular.menu .active.item {
  background: #fcfcfc none !important;
  padding-left: 3rem;
  font-size: 1.2rem;
  transition: font 0.3s linear;
}

.ui.vertical.tabular.menu .item {
  font-size: 1.1rem;}
  .ui.vertical.tabular.menu .item:hover {
    background-color: rgb(240, 246, 246);
  } 

.ui.grid>.stretched.column:not(.row) {
  border-left: none !important;
  border-radius: 0;
}
.ui.attached.segment {
  border: none !important;
}

.ui.tabular.menu .active.item {
  background: #fcfcfc !important;
}

