.sp-input-con {
  background: rgb(246, 246, 246);
  border-radius: 20px;
  overflow: hidden;

  &:focus-within {
    background: rgb(236, 242, 243);
  }

  #sp-input {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    border: none;
    font-size: 15px;

    &:focus {
      outline: none;
    }
  }
}

.dark {
  .sp-input-con {
    background: rgb(46, 46, 46);
    border-radius: 20px;
    overflow: hidden;

    &:focus-within {
      background: rgb(36, 42, 43);
    }

    #sp-input {
      background: rgba(255, 255, 255, 0);
      width: 100%;
      border: none;
      font-size: 15px;

      &:focus {
        outline: none;
      }
    }
  }
}
