.ip-info-icon-con {
  margin-left: 1em;
  display: inline;
}

.ip-info-icon-con .material-icons {
  font-size: 1.5em;
}

.ip-info-icon-con .ip-info-icon.important .material-icons {
  color: rgb(255, 81, 13);
  font-size: 1.5rem;
}