////////////////////////////////////////////////////////////
// ePub Preview
////////////////////////////////////////////////////////////
.msp-ee-ep-con {
  width: calc(43% - 15px);
  padding: 60px 25px 150px 15px;
  position: sticky;
  top: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 200ms linear;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;

  &[data-managing=false] {
    width: 77%;
    margin-right: 0;
    padding-top: 0;
    padding: 0 20px 0 30px;
  }

  &[data-editing=true] {
    width: 100%;
    transition: none;
  }
}