.watch-search-result-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 13em);
  overflow-x: hidden;
  overflow-y: auto;
}

.search-result-list {
  display: flex;
  flex-direction: column;
  padding: .5em 0;
  -webkit-overflow-scrolling: touch;
}
/* .search-result-list:: */

.search-result-listitem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 16px;
  font-family: var(--ct-font-google);
}
.search-result-listitem:hover {
  background-color: rgb(68, 68, 68);
}
.search-result-listitem:focus {
  background-color: rgb(68, 68, 68);
  outline: none;
}

.search-result-term {
  margin: .5em 0 1em .5em;
  color: var(--ct-text-white-hover);
  font-size: 15px;
}

.search-result-time {
  width: 65px;
  padding: .5em;
  margin: 0 .5em;
  text-align: center;
  color: var(--ct-text-highlight);
}

.search-result-text {
  padding: .7em;
  border-bottom: var(--ct-border-dark);
  width: 100%;
}
.search-result-listitem:last-child .search-result-text {
  border-bottom: none;
}
.search-result-text[kind=descriptions] span {
  color: grey;
}
.search-result-text[kind=descriptions] {
  font-style: italic;
}