.ctp.action-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // padding-top: 15px;

  .left, .right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .right {
    width: 20%;
    justify-content: flex-end;
    padding-right: 10px;
  }

  .left {
    width: 80%;
    padding-left: 5px;

    .media-name {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 10px;
      width: 100%;
      font-size: 1.1em;

      .ctp.ct-logo {
        width: 20px;
      }

      a {
        color: white;
        width: calc(100% - 25px);
        padding-left: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 600;
      }
    }
  }

  .ctp.screenshot-btn {
    background-color: rgb(73, 73, 73);
    padding: 8px;
    border-radius: 100%;
  }
}