.ct-epb.launch-con {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  min-width: 1200px;
  
  // poster
  .ct-epb.launch-poster-con {
    width: 60%;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .ct-epb.launch-poster {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      h1 {
        font-size: 40px;
        margin: 50px 0;
        min-height: auto !important;
        padding: 0;
        background: white;
        position: sticky;
        bottom: 20vh;
        width: 100%;
        text-align: center;
      }

      img.ct-epb.epub-example {
        width: 100%;
      }
    }
  }

  // epub list
  .ct-epb.epub-list-con {
    width: 40%;
    padding: 40px 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 1rem .2rem rgba(0, 0, 0, 0.089);
  }
}