#cookie-agreement-dialog-wrapper {
    display: flex;
    flex-direction: column;
}
.cookie-agreement-dialog-title {
    display: flex;
    margin-top: 20px;
    font-size: 42px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.cookie-agreement-dialog-title h2 {
    color: #4e4e4e;
    padding: 0px;
    margin: 0px;
}
.cookie-agreement-dialog-title img {
    margin-left: 10px;
    margin-right: 10px;
    height: 42px;
    width: 255px;
}