
#cookie-agreement-inner-wrapper {
    display: flex;
    flex-direction: column;
}


.cookie-agreement-title {
    display: flex;
    margin-top: 20px;
    font-size: 42px;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.cookie-agreement-title h2 {
    font-size: 42px;
    color: #4e4e4e;
    padding: 0px;
    margin: 0px;
}
.cookie-agreement-title img {
    margin-left: 10px;
    margin-right: 10px;
    height: 42px;
    width: 255px;
}
#cookie-agreement-desc {
    color: #4e4e4e;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
#cookie-agreement-btn-grp {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.cookie-agreement-btn {
    background: #328383;
    margin-left : 10px;
    margin-right : 10px;
    margin-top: 2px;
    margin-bottom: 1px; 
    border: 0;
    border-radius: 3px;
    color: white;
    height: 60px;
    padding: 10px 30px;
    cursor: pointer;
}

.cookie-agreement-btn h3 {
    font-size: 19px;
    font-weight: 500;
    margin: 0px;
    color: white;
}

.cookie-agreement-btn p {
    font-size: 15px;
    color: #caf1e4;
    margin-bottom: 1px;
}


.cookie-agreement-btn:hover {
    background : #4d9191;
}
.cookie-agreement-btn:focus {
    background : #4d9191;
    border: 1px solid #4d9191;
    border-radius: 3px;
}

@media screen and (max-width : 660px) {
    .cookie-agreement-title h2 {
        font-size: 32px;
    }
    .cookie-agreement-title img {
        height: 32px;
        width: 194px;
    }
    #cookie-agreement-desc {
        font-size: 15px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (max-width : 495px) {
    .cookie-agreement-title h2 {
        font-size: 26px;
    }
    .cookie-agreement-title img {
        height: 26px;
        width: 158px;
    }
    #cookie-agreement-desc {
        font-size: 13px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width : 430px) {
    .cookie-agreement-title h2 {
        font-size: 20px;
    }
    .cookie-agreement-title img {
        height: 20px;
        width: 122px;
        margin-left: 6px;
        margin-right: 6px;
    }
    #cookie-agreement-desc {
        font-size: 13px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .cookie-agreement-btn {
        height: 50px;
        padding: 10px 20px;
    }
    
    .cookie-agreement-btn h3 {
        font-size: 16px;
    }
    
    .cookie-agreement-btn p {
        font-size: 13px; 
    }
}

@media screen and (max-width : 375px) {
    
    #cookie-agreement-desc {
        font-size: 11px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .cookie-agreement-btn h3 {
        font-size: 14px;
    }
    
    .cookie-agreement-btn p {
        font-size: 10px; 
    }
}