.op-form {
  padding-left: 1rem;
  width: 100%;
  min-height: 25rem;
  position: relative;}

.op-grid {
  padding-top: 1rem !important;
  height: 100%;
  padding-bottom: 7em !important;}

/* Fonts */
.op-grid h2 {
  margin-left: -1rem;
  color: rgb(43, 121, 118);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
  .op-grid h2 i.icon {
    font-size: .8em !important;
    margin-top: -.5em;
    color: rgb(128, 128, 128) !important;}
.op-grid p {
  display: inline;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
  .op-grid p span {
    font-weight: normal;
    font-size: 1rem;}
.op-grid .warning {
  font-size: .8em;
  color: rgb(199, 43, 43);
  font-weight: normal;}
.guide {
  font-size: .8em !important;
  color: rgb(160, 160, 160);
  font-weight: normal !important;
  margin-top: -10px !important;}

/* Courses */
.op-grid .message {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: 100%;
  height: max-content;
  padding-left: 0 !important;
  padding-right: 0 !important;}
.op-grid .labels {
  display: inline;}
.op-grid .label {
  background: rgb(52, 100, 99) !important;
  color: rgb(255, 255, 255) !important;
}

/* Upload Btn */
.op-grid .upload-btn {
  margin-top: 1em;
  width: 100%;}
  .op-grid .upload-btn span strong {
    color: rgb(64, 126, 126);}
  .op-grid .upload-btn .csv-demo {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    margin-top: 10px;
    background: rgb(238, 238, 238);
    width: max-content;
    border-radius: 5px;
    color: rgb(100, 100, 100);}
    .op-grid .upload-btn .csv-demo p {
      font-weight: normal;
      font-size: .8em;
      line-height: .8em;
    }

/* Email Container */
.op-grid .email-container {
  height: 250px;
  background: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;}

.op-grid .email-filter {
  background: none !important;
  margin-bottom: 10px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom-color: rgb(160, 160, 160) !important;}

.op-grid .email-group {
  height: 200px;
  background: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;}
  .op-grid .email-group .email-item {
    height: 35px;
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(204, 204, 204);}
    .op-grid .email-group .email-item:last-child {
      border: none;}
    .op-grid .email-group .email-item i {
      cursor: pointer;}

/* Others */
.op-new-btn {
  height: 100%;
  width: max-content;
  display: flex;
  justify-content: flex-end;}

.op-form .inverted {
  background: none !important;}

.op-form .row[id=ap-buttons] {
  position: absolute !important;
  bottom: 0rem !important;}
