/**
 * Stylesheet for student page/offering viewing page
 */

.sp-bg {
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fcfcfc;
  -webkit-overflow-scrolling: touch;
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}

.sp-content {
  width: 100%;
  height: 100%;
  padding: 3.8rem 2rem 0rem 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 600px) {
  .sp-content {
    padding-right: 0;
  }
}

.prompt {
  border-radius: 3rem !important;
}

/* Side Bar */

.op-sidebar .signin-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;}
  .op-sidebar .signin-prompt p {
    font-size: 1.1rem;
    text-align: center;
    color: rgb(126, 151, 151);
  }

.sp-content .goback-container {
  width: 100%;
  padding-bottom: 1rem;}
.sp-content .goback-container .del-icon {
  transition: margin 0.2s linear;
  -o-transition: margin 0.2s linear;
  -webkit-transition: margin 0.2s linear;
  color: rgb(48, 129, 129);
  margin-right: 2rem;
  cursor: pointer;
  font-size: 1.2rem;}
  .sp-content .del-icon:hover, .sp-content .del-icon:focus, .sp-content .del-icon:active {
    margin-left: 1rem;}