/**
 * Stylesheet for student page
 */

.sp-bg {
  -webkit-position: absolute;
  -moz-position: absolute;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fcfcfc;
  -webkit-overflow-scrolling: touch;
}

.sp-content {
  width: 100%;
  height: 100%;
  padding: 4.5rem 2rem 0rem 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* Side Bar */

.op-sidebar .signin-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.op-sidebar .signin-prompt p {
  font-size: 1.1rem;
  text-align: center;
  color: rgb(126, 151, 151);
}