.video-setting-bar {
  /* position: absolute; */
  margin-left: 2em;
  width: 100%;
  height: 3em;
  /* background: #424242; */
  border-radius: .6em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media screen and (max-width: 870px) {
  .video-setting-bar {
    width: auto;
    position: absolute;
    right: .5em;
  }
}
.video-setting-bar .trigger {
  background: #424242;
  color: rgb(172, 172, 172);
  outline: none;
  height: 2em;
  border-radius: .6em;
  /* width: 2em; */
  padding: 0 .5em;
}
.video-setting-bar .trigger span {
  font-size: 1.1rem;
}
.video-setting-bar .trigger:hover {
  background-color: rgb(24, 96, 102);
  color: rgb(221, 221, 221);
}
.upnext-menu .header h4 {
  color: rgb(0, 255, 255);
  font-weight: bolder;
  font-size: 1.2rem;
}
.upnext-menu .videos {
  /* max-height: 12rem; */
  width: 100%;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll !important;
  transition: max-height 0.2s linear, padding 0.2s linear;
  -o-transition: max-height 0.2s linear, padding 0.2s linear;
  -webkit-transition: max-height 0.2s linear, padding 0.2s linear;
}
.upnext-menu .videos .vcard {
  transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  background: none;
  display: inline-block;
  white-space: normal;
  width: 12rem !important;
  height: 9rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  overflow: hidden;
  cursor: pointer !important;
  border: none;
  background: rgb(45, 49, 49);
}
.upnext-menu .videos .vcard:first-child {
  margin-left: 10%;
}
.upnext-menu .videos .vcard:last-child {
  margin-right: 10%;
}
.upnext-menu .videos .vcard:hover, .upnext-menu .videos .vcard:focus {
  outline: none;
  background: rgb(90, 100, 100);
}
.upnext-menu .videos .vcard .img {
  transition: margin 0.2s linear;
  -o-transition: margin 0.2s linear;
  -webkit-transition: margin 0.2s linear;
  width: 12rem;
}
.upnext-menu .videos .card-body {
  padding: 0.5em 0.2rem !important;
}
.upnext-menu .videos .vcard .title {
  padding: none;
  white-space: nowrap;
  width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  /* font-weight: normal; */
  font-size: 1rem;
  color: rgb(240, 254, 255) !important;
}

.curr-media {
  background: rgb(122, 148, 148) !important;
  color: black;
}



.upnext-menu .videos::-webkit-scrollbar {
  display: block;
  background: rgb(55, 65, 65) !important;
  width: 2px;
  height: 5px;}
  .upnext-menu .videos::-webkit-scrollbar-track-piece {
    background: rgb(97, 114, 114) !important;
  }
  .upnext-menu .videos::-webkit-scrollbar-thumb {
    background-color: #ebebeb;
  }