.ct-fragment {
  width: 100%;

  &.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.vCenter {
    display: flex;
    align-items: center;
  }

  &.hCenter {
    display: flex;
    justify-content: center;
  }

  &.list {
    display: flex;
    flex-direction: column;
  }

  &.sticky {
    top: 0;
    position: sticky;
    z-index: 10;
  }
}