.ctp.share-root {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .ctp.share-popup {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: rgb(53, 53, 53);
    width: 350px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);

    &.screenshot {
      width: 500px;
      top: 10px;
    }

    .ctp.share-image {
      width: 100%;
      margin-bottom: 15px;
      img {
        width: 100%;
      }
    }

    .ctp.share-link {
      width: 100%;
      margin-bottom: 10px;
      input {
        width: 100%;
        color: white;
        border: none;
        background-color: rgb(100, 100, 100);
        padding: 10px;
        border-radius: 5px;

        &:focus {
          outline: none;
        }

        &::selection {
          color: white;
          background-color: rgb(25, 133, 133);
        }
      }
    }
  }
}