.ctp.closed-caption {
  position: relative;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: normal;
  overflow: hidden;

  .cc-text {
    position: relative;
    display: flex;
  }

  .cc-bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}