.watch-cc-container {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.watch-cc-text {
  position: relative;
  width: max-content;
  font-weight: bold;
  text-align: center;
  line-height: normal;
  white-space: normal;
  padding: .2em 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* .watch-cc-customize-btn {
  margin-left: .5em;
}
.watch-cc-customize-btn i {
  font-size: 1.2em;
  color: white;
  color: rgb(160, 160, 160);
  position: absolute;
  background: black;
  right: -.2em;
  top: -.2em;
} */