#ct-epb-download-con {
  .ct-epb.dch-preview-con {
    width: 55%;
    padding: 20px 40px 40px 40px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .ct-epb.dch-bar-con {
    width: 45%;
    padding: 80px 15px 80px 5px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}