.msp-ee-html-editor {
  background-color: #2F3129;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.425) !important;
  border-radius: 0;
  // height: 100%;

  .ee-editor-ctrl-bar {
    box-shadow: 0 0 10px rgb(26, 26, 26);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: #2F3129;
    height: 50px;    
    // display: none;

    h3 {
      margin: 0 10px;
      color: rgb(221, 221, 221);
    }
  }


  &[data-dark=false] {
    background-color: #e8e8e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
    .ee-editor-ctrl-bar {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
      background-color: #f8f8f8;
      h3 {
        color: rgb(58, 58, 58);
      }
    }

    .msp-ee-ace-editor-con {
      background-color: white;
    }
  }

  .msp-ee-ace-editor-con {
    padding: 0 20px;
    width: 100%;
    height: max-content;
    background-color: #272822;
  }

  .msp-ee-ace-editor {
    width: 100% !important;
  }
}