.msp-ee-html-editor-con {
  background-color: #2F3129;
  padding: 0 0 0 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);

  .ee-editor-ctrl-bar {
    box-shadow: 0 0 10px rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: #2F3129;
    border-radius: 5px 5px 0 0;

    h3 {
      margin: 0 10px;
      color: rgb(58, 58, 58);
    }
  }


  &[data-dark=false] {
    background-color: #e8e8e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
    .ee-editor-ctrl-bar {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
      background-color: #e8e8e8;
    }
  }

  .msp-ee-html-editor {
    width: 100%;
  }
}