.msp-ee-html-editor-con {
  background-color: #2F3129;
  padding: 0 0 0 0;
  overflow: hidden;

  .ee-editor-ctrl-bar {
    box-shadow: 0 0 10px rgb(26, 26, 26);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: #2F3129;
    border-radius: 5px 5px 0 0;
  }

  &[data-dark=false] {
    background-color: #e8e8e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
    .ee-editor-ctrl-bar {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
      background-color: #e8e8e8;
    }
  }

  .msp-ee-html-editor {
    width: 100%;
  
    // .ace_gutter {
    //   padding: 20px 0 !important;
    // }
    // .ace_content {
    //   padding: 20px 0 !important;
    // }
  }
}