.ee-preview-text-con {
  margin: 0 0 20px 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-family: var(--ct-font-google);
  border-bottom: 2px solid transparent;
  min-height: 3rem;
  width: 100%;
  transition: all .2s ease;
  padding: 10px 0;
  overflow: auto;
  box-sizing: border-box;

  &.description {
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
  }
}

.ee-preview-text-con {
  img,
  audio,
  video{
    max-width: 100%;
    height: auto;
    margin: 15px 0;
  }

  h1,h2,h3 {
    padding-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  h3 {
    font-size: 24px;
  }
  
  p{
    min-height: 1em;
    margin-bottom: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  pre {
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
  }

  /* Code */
  blockquote{
    padding: 15px;
    border-left: 3px solid rgba(0, 95, 95, 0.418);
    background-color: rgb(236, 243, 243);
    border-radius: 0 5px 5px 0;
    margin-left: 0;
    margin-right: 0;
  }

  /* Table */
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  
  table, th, td {
    padding: 10px 20px;
    border: 1px solid rgb(209, 209, 209);
    white-space: nowrap;
  }

  thead {
    background-color: rgb(240, 240, 240);
  }
}