.ip-f-section {
  width: 100%;
  padding: 2em 1em 2em 2em;
  border-top: 1px solid rgb(214, 214, 214);
  margin-bottom: 2em;
}

.ip-f-title {
  margin-left: -1em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.ip-f-title h3 {
  font-size: 1.8em;
  font-family: var(--ct-font-narrow);
  color: var(--ct-text-title);
  font-weight: bolder;
}

.ip-f-dtext {
  font-size: 1.2em;
  color: rgb(95, 95, 95);
  font-family: var(--ct-font-google);
}

.ip-f-grid {
  position: relative;
  margin-top: .5em !important;
}


/* Selected Courses */
.ip-f-seled-course-con {
  height: auto;
  min-height: 11.5em;
  padding: 1em;
  border-radius: 10px;
  margin-top: -6em;
  background: var(--ct-ip-grey-1);
}

.ip-f-seled-course-title {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--ct-text-title);
}
.ip-f-seled-course-title span {
  display: inline;
  /* font-size: .8em; */
  color: rgb(32, 32, 32);
  margin-left: 1em;
}

.ip-f-seled-courses {
  margin-top: 1em;
}
.ip-f-courses-error {
  margin-top: -1em;
  padding: 0 1.3em;
  color: rgb(172, 7, 7);
}


/* Upload Btn */
.ip-upload-btn {
  margin-top: 1em;
  width: 100%;}
  .ip-upload-btn span {
    color: rgb(141, 26, 26);
    margin-top: .5em;
  }
  .ip-upload-btn span strong {
    margin: 0 5px;
    color: rgb(64, 126, 126);}
  .ip-upload-btn .csv-demo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    background: var(--ct-ip-grey-1);
    width: 100%;
    border-radius: 5px;
    color: rgb(100, 100, 100);}
    .ip-upload-btn .csv-demo-title {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: .5em;
    }
    .ip-upload-btn .csv-demo p {
      font-weight: normal;
      font-size: .8em;
      line-height: .8em;
    }


/* Email Container */
.ip-f-add-email-btn {
  padding-top: 2em;
}
.ip-f-email-container {
  height: 100%;
  background: var(--ct-ip-grey-1);
  border-radius: 10px;
  padding: 15px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;}

.ip-f-email-filter {
  background: none;
  margin-bottom: 0;
  border: none;
  border-bottom: 2px solid rgb(195, 195, 195);
  font-size: 1.3em;
  padding: 0 .5em .5em .5em;
  transition: border .2s ease-in-out;
}
.ip-f-email-filter:hover {
  border-color: rgb(34, 34, 34);
}
.ip-f-email-filter:focus {
  outline: none;
  border-color: var(--ct-text-title);
}

.ip-f-email-group {
  height: 200px;
  background: var(--ct-ip-grey-1);
  border-radius: 10px;
  padding: 10px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;}
  .ip-f-email-group .ip-f-email-item {
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    padding: .8em 0;
    border-bottom: 1px solid rgb(204, 204, 204);}
    .ip-f-email-group .ip-f-email-item:last-child {
      border: none;}
    .ip-f-email-group .ip-f-email-item .icon {
      cursor: pointer;}
.ip-f-email-group::-webkit-scrollbar {
  display: block;
  width: 4px;
}