.watch-volume-ctrl {
  display: flex;
  flex-direction: row;
  width: 35px;
  overflow: hidden;
  transition: var(--ct-transition-width);
  -o-transition: var(--ct-transition-width);
  -moz-transition: var(--ct-transition-width);
  -webkit-transition: var(--ct-transition-width);
}
.watch-volume-ctrl:hover, .watch-volume-ctrl:focus-within {
  width: 115px;
} 