/**
 * Stylesheet for ClassTranscribe Header
 */

.ct-nav {
  position: fixed;
  background: #fcfcfc9f !important;
  top: 0;
  opacity: 0.9;
  width: 100%;
  height: 4rem;
  /* box-shadow: 0 0 6px #c7c7c7b6; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
  .ct-nav .brand, .ct-nav .brand:focus, .ct-nav .brand:hover {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    color: #228686;
    margin-left: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
    .ct-nav .brand span {
      color: #629c9c;}
    .ct-nav .brand .img {
      pointer-events: none;
    }

  /* For course setting page */
  .ct-nav .sidebar-trigger {
    border: none;
    color: #768888;
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%; 
    display: flex; 
    justify-content: center;
    padding-left: 0.6em;
    transition: background 0.2s linear;
    cursor: pointer;}
    .ct-nav .sidebar-trigger:hover {
      color: #306868;
      background-color: #d5dedf;
    }
    .ct-nav .sidebar-trigger:focus {
      outline: none;
      background-color: #d5dedf;
    }

    .ct-nav .signout {
      color: #306868;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding-right: 2rem;}
      @media screen and (max-width: 520px) {
        .ct-nav .signout {
          padding-right: 0.5rem;
        }
      }
      .ct-nav .signout .ui.dropdown>.dropdown.icon {
        display: none;
      }
    .ct-nav .menu>.item {
      font-size: 1.1rem !important;
      background: white;}
    .ct-nav .menu button:focus, .ct-nav .menu a:focus {
      outline: none;
      background-color: #d5dedf;
    }
 

/* dark mode */
.dark {
  background: none !important;
  position: relative;
  height: 3.5rem !important;
  box-shadow: none !important;}
  .dark .signout {
    color: rgb(104, 204, 211);}
  .dark .brand, .dark .brand:hover {
    color: #2d9999;}
  .dark .brand span {
    color: rgb(114, 173, 179);}
  .dark i.circular.icon {
    box-shadow: 0 0 0 0.1em rgba(133, 133, 133, 0.952) inset !important;
  }
  .dark .profile-menu .trigger:hover {
    background: none !important;
    color: rgb(90, 173, 173)}


.profile-menu .trigger {
  transition: color .2s linear, background .2s linear;
  color: inherit;
  outline: none;
  padding: 0;
  height: 2em;
  font-size: 1em;
  border-radius: .6em !important;}
  .profile-menu .trigger:hover {
    background: none !important;
    color: rgb(39, 151, 155)}
.profile-menu .menu-item {
  font-size: 1.2rem !important;
}
