/**
 * Stylesheet for ClassTranscribe Header
 */

.ct-nav, .ct-nav-dark {
  position: relative;
  opacity: 1;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1020;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  &.fixed {
    position: fixed;
  }
  &.bordered {
    border-bottom: var(--ct-border-color);
  }
}
.ct-nav-light {
  background: #ffffff;
}

.ct-h-subtitle {
  font-size: 1.6em;
  margin-left: .8rem;
  color: rgb(83, 83, 83);
  white-space: nowrap;
}
.ct-header-left-elem, .ct-header-right-elem {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.ct-header-right-elem {
  justify-content: flex-end;
}

/* Sidebar trigger */
.ct-header-sidebar-trigger {
  margin-left: .5em !important;
}
/* Brand */
.ct-header-brand {
  width: auto;
  height: auto;
  margin-left: .5em;
}

.ct-header-brand img {
  height: 28px;
  width: 182px;
}

/* Profile menu Trigger */
.profile-menu {
  margin-right: 1em;
}
.profile-menu .trigger {
  color: inherit;
  outline: none;
  padding: 0;
  height: 2em;
  border-radius: .6em !important;
  color: rgb(70, 70, 70);
  i {
    font-size: 1rem;
  }
  &:hover {
    background: none !important;
    color: rgb(0, 0, 0);
  }
}
.profile-menu .menu-item {
  font-size: 1.2rem !important;
}

.profile-img {
  min-width: 30px;
  cursor: pointer;
  outline: none;
  &:hover, &:focus {
    box-shadow: 0 0 1px 2px #8f8f8f63;
  }
}
.profile {
  width: 20em;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;}
.profile p {
  white-space: normal;
  text-align: center;}
  .profile p span {
    font-size: .8em;}
.profile img {
  margin-bottom: .5em;
  width: 4em;
}
.Mui-disabled[id=profile] {
  opacity: 1 !important;
}


.ct-nav-dark {
  background: black;
  
  .ct-header-brand {
    margin-left: 1em;
  }
  
  .profile-menu .trigger {
    color: rgb(241, 241, 241);
    &:hover {
      color: rgb(219, 219, 219);
    }
  }
}


@media screen and (max-width: 600px) {
  .ct-nav-light {
    box-shadow: none;
  }
  .ct-nav-dark .ct-header-brand {
    margin-left: .5em;
  }
  .profile-menu {
    margin-right: .5em;
  }
}