.playlist-menu .trigger {
  transition: color .2s linear, background .2s linear;
  color: inherit;
  outline: none;
  height: 3em;
  border-radius: .6em !important;
  margin-right: .5em !important;}
  .playlist-menu .trigger span {
    font-size: 1.1rem;
    font-weight: bold;}
  .playlist-menu .trigger::after {
    font-size: 1.1rem;
    font-weight: bold;
    content: 'PLAYLISTS'}
  .playlist-menu .trigger:hover {
    background: none !important;
    color: rgb(230, 230, 230)}
  @media screen and (max-width: 700px) {
    .playlist-menu .trigger::after {
      content: '';
    }
  }

.playlist-menu .header h4 {
  color: rgb(0, 255, 255);
  font-weight: bolder;
  font-size: 1.3rem;
}
.playlist-menu .header h5 {
  padding: 0;
  margin-top: .9em;
  color: rgb(236, 236, 236);
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 1em;
}
.playlist-menu .pl-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 18.5em;
  color: rgb(235, 235, 235);
  /* font-weight: bolder; */
  font-size: 1.1rem;
}
.playlist-menu .Mui-selected {
  background: rgb(27, 114, 109) !important;
}
.playlist-menu .pl-item i {
  color: rgb(155, 204, 204);
}
.playlist-menu .r-icon {
  position: absolute;
  right: 1em;
}
.video-view {
  height: 700px;
  position: absolute;
  top: 0;
  overflow: hidden;
}
.video-view .header {
  position: absolute;
  background: #3b3b3b;
  width: 100%;
  z-index: 1;
  border-bottom: solid 3px rgba(51, 51, 51, 0.555);
  transition: background .2s linear;
}
.video-view .header:hover {
  background: #353535;
}
.video-view .video-list {
  padding: 5em 0;
  height: 97%;
  position: relative;
  overflow-y: scroll;
}