.playlist-view-enter {
  display: block;
}
.playlist-view-enter-active {
  display: block;
}
.playlist-view-exit {
  display: none;
}
.playlist-view-exit-active {
  display: none;
}


.video-view-enter {
  display: block;
}
.video-view-enter-active {
  display: block;
}
.video-view-exit {
  display: none;
}
.video-view-exit-active {
  display: none;
}