.playlist-menu-btn {
  margin-right: 20px !important;
}

.watch-header-btn-content, .watch-playlist-menu-tigger-content {
  /* font-size: 14px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin: 0 2px;
}
.watch-header-btn-content {
  font-size: 10px !important;
}
.watch-playlists-menu-trigger:hover {
  color: var(--ct-green-normal);
}
.watch-playlists-menu-trigger:focus {
  outline: none;
}
/* .watch-playlists-menu-trigger:after {
  font-weight: bold;
  font-family: var(--ct-font-narrow);
  content: 'PLAYLISTS';
} */

.watch-playlists-menu-trigger i {
  font-size: 20px;
  width: max-content;
}

@media screen and (max-width: 450px) {
  .playlist-menu-btn {
    margin-right: 10px !important;
  }
  .watch-ctrl-button[id=menu-shortcuts], .watch-ctrl-button[id=menu-download] {
    display: none;
  }
} 