/**
 * Stylesheet for general components
 */

/* Nav */
.ct-nav {
  position: fixed;
  top: 0;
  opacity: 0.9;
  width: 100%;
  height: 4rem;
  box-shadow: 7px 1px 5px 1px #c7c7c7b6;
}
.ct-nav .brand {
  font-weight: bold;
  font-size: 2rem;
  color: #418080;
  margin-left: 1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* For course setting page */
.sidebar-trigger {
  height: 2.4rem;
  width: 2.4rem;
  padding-left: 0.1rem;
  border-radius: 50%;  
  cursor: pointer;
}
.sidebar-trigger:hover {
  background-color: #d4d4d4;
}
/* For instructor page */
.ct-nav .signout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}
.ct-nav .signout .hi-there {
  margin: 0 1rem 0 0;
}
/* dark mode */
.ct-nav-dark {
  position: fixed;
  top: 0;
  opacity: 0.9;
  width: 100%;
  height: 4rem;
  box-shadow: 7px 1px 5px 1px #222222b6;
}
.ct-nav-dark .signout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}
.ct-nav-dark .signout .hi-there-dark {
  margin: 0 1rem 0 0;
  color: #d4d4d4;
}
.ct-nav-dark .brand-dark {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(138, 191, 200);
  margin-left: 1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media screen and (max-width: 550px) {
  .ct-nav .signout .hi-there {
    display: none;
  }
  .ct-nav-dark .signout .hi-there-dark {
    display: none;
  }
}

/* Footer */

.ct-footer {
  position: fixed;
  bottom: 0;
  height: 3.5rem;
  width: 100%;
  background-color: rgba(246, 246, 246, 0.931);
}
.ct-footer .footer-copy {
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0);
  height: 3.5rem;
}

.upload-video {
  margin-top: 1rem;
  width: 100%;
  height: 6rem;
  font-size: 1.5rem;}


.course-modal {
  height: max-content;
  display: flex;
  flex-direction: column;
}

.ui.modal {
  overflow: visible;
}

.ui.dropdown .menu {
  /* min-height: 5rem; */
  height: max-content;
  overflow: scroll;
}

.pl-modal-text {
  color: rgb(14, 131, 131);
  width: 100%;
  text-align: center;
}

.general-alert {
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
}

.general-modal {
  height: max-content;
  display: flex;
  flex-direction: column;}
  .general-modal .gm-header {
    background: #385858 !important; 
    color: #f5f5f5 !important;}
  .general-modal .gm-content {
    background: #f0f0f0 !important;}
  .general-modal .gm-action {
    background: #f0f0f0 !important;}

.general-form {
  padding-left: 1rem;
  width: 100%;
  min-height: 10rem;
}

.del-target {
  color: rgb(26, 110, 110);
  text-decoration: underline;
}

.end-padding {
  height: 5rem;
  width: 100%;
  position: relative;
}

/****/
