/**
 * Stylesheet for general components
 */

/* Nav */


/* Footer */

.upload-video {
  margin-top: 1rem;
  width: 100%;
  height: 6rem;
  font-size: 1.5rem;}

.ui.modal {
  overflow: visible;
}

.ui.dropdown .menu {
  /* min-height: 5rem; */
  height: max-content;
  overflow: scroll;
}

.pl-modal-text {
  color: rgb(14, 131, 131);
  width: 100%;
  text-align: center;
}

.general-form {
  padding-left: 1rem;
  width: 100%;
  min-height: 10rem;
}

.end-padding {
  height: 5rem;
  width: 100%;
  position: relative;
}

/****/
.positive {
  background: #449999 !important;
}