.watch-ctrl-button {
  position: relative;
  background: none;
  color: var(--ct-text-white);
  border: none;
  box-shadow: none;
  padding: 0;
  margin: none;
  margin: 0 .5em;
  width: auto;
}

.watch-ctrl-button:focus {
  outline: none;
}
.watch-ctrl-button .watch-btn-content {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
.watch-ctrl-button .watch-btn-content i {
  font-size: 2.5em;
  width: max-content;
}

.watch-ctrl-button .watch-btn-playbackrate-content {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  font-size: 18px;
  white-space: nowrap;
  font-weight: bold;
}

.watch-ctrl-button[position=bottom] .watch-btn-content,
.watch-ctrl-button[position=bottom] .watch-btn-playbackrate-content {
  border-bottom: 2px transparent solid;
  transition: var(--ct-transition-all);
  -o-transition: var(--ct-transition-all);
  -moz-transition: var(--ct-transition-all);
  -webkit-transition: var(--ct-transition-all);
}
.watch-ctrl-button[position=top] .watch-btn-content,
.watch-ctrl-button[position=top] .watch-btn-playbackrate-content {
  border-top: 2px transparent solid;
  transition: var(--ct-transition-all);
  -o-transition: var(--ct-transition-all);
  -moz-transition: var(--ct-transition-all);
  -webkit-transition: var(--ct-transition-all);
}
.watch-ctrl-button[colored=true] {
  color: var(--ct-green-active);
}
/* Focus */
.watch-ctrl-button[position=bottom]:focus > .watch-btn-content, 
.watch-ctrl-button[position=bottom]:hover > .watch-btn-content,
.watch-ctrl-button[position=bottom]:focus > .watch-btn-playbackrate-content, 
.watch-ctrl-button[position=bottom]:hover > .watch-btn-playbackrate-content,
.watch-ctrl-button[position=bottom][active=true] > .watch-btn-content,
.watch-ctrl-button[position=bottom][active=true] > .watch-btn-playbackrate-content {
  border-bottom: 2px var(--ct-text-white-hover) solid;
}
.watch-ctrl-button[position=top]:focus > .watch-btn-content, 
.watch-ctrl-button[position=top]:hover > .watch-btn-content,
.watch-ctrl-button[position=top]:focus > .watch-btn-playbackrate-content, 
.watch-ctrl-button[position=top]:hover > .watch-btn-playbackrate-content,
.watch-ctrl-button[position=top][active=true] > .watch-btn-content,
.watch-ctrl-button[position=top][active=true] > .watch-btn-playbackrate-content {
  border-top: 2px var(--ct-text-white-hover) solid;
}
.watch-ctrl-button[colored=true]:hover > .watch-btn-content,
.watch-ctrl-button[colored=true]:focus > .watch-btn-content
/* .watch-ctrl-button[active=true][colored=true] > .watch-btn-content */ {
  border-color: var(--ct-green-active);
}

.watch-ctrl-button:active > .watch-btn-content,  
.watch-ctrl-button:active > .watch-btn-playbackrate-content {
  opacity: 0.6;
}
