.ip-playlist-con {
  position: relative;
  padding-top: 4.5em;
  padding-bottom: 5em;
  width: 60%;
  height: 100vh;
  overflow: auto;
}

/* Title */
.ip-p-title {
  margin: 1.5em .5em;
  padding: .5em 0 .5em .5em;
  position: sticky;
  top: 0;
  background-color: #fcfcfc;
  z-index: 1;
}
.ip-p-pl-name {
  padding: .45em .2em;
  margin: 0 1em 0 0;
}
.ip-p-pl-name span {
  margin-left: .2em;
  font-size: 1.3em;
  color: rgb(68, 68, 68);
}

.ip-p-pl-name-edit-con input {
  font-weight: bold;
  font-size: 1.7em;
  padding: .5em 1em;
}


/* Buttons */
.ip-p-btns {
  margin: 1em 0 .5em 0;
}
.ip-p-btns-con {
  border-radius: 10px;
  padding: 0 1em;
  /* background-color: var(--ct-ip-grey-1); */
  justify-content: flex-end;
}

/* Videos */
.ip-videos {
  margin-top: 2em;
  padding: 0 .9em;
}

.ip-video-card {
  width: 100%;
  margin: .3em 0;
  padding: 0em .9em .9em .9em;
  position: relative;
  border-radius: 10px;
  background-color: var(--ct-ip-grey-1);
}
.ip-video-card:focus {
  outline: var(--ct-text-title) solid 1px;
}
.ip-video-card:hover {
  background-color: var(--ct-ip-grey-2);
}

.ip-video {
  width: 100%;
  overflow: hidden;
}
.ip-video-card[data-select=true] {
  padding: 1em .9em;
  cursor: pointer;
}

.ip-video .ip-video-con {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ip-video[data-select=true] .ip-video-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ip-v-file-icon .icon::before {
  display: block;
  color: rgb(24, 148, 148);
}
.ip-v-file-icon i.icon {
  width: auto;
}
/* .ip-video-card:hover .ip-v-file-icon .icon::before {
  color: var(--ct-green-normal);
} */

.ip-video .ip-video-name {
  width: 100%;
  overflow: hidden;
  font-size: 1.4em;
  font-weight: bold;
  font-family: var(--ct-font-google);
  margin: .5em 1px .5em .5em;
  color: rgb(58, 58, 58);
  line-height: 1.3em;
  border-radius: 5px;
  padding: .4em;
}
.ip-video .ip-video-name[data-edit=true] {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.212);
  outline: none;
  background-color: white;
}
.ip-video-card[data-select=true]:hover .ip-video-name {
  color: var(--ct-green-normal);
}


/* More */
.ip-video-opts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: .5em;
}
.ip-v-menu {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.205);
}

.ip-v-opt-con {
  display: flex;
  flex-direction: row;
  padding: .5em 2em .5em 1em;
  align-items: center;
  background: var(--ct-ip-grey-1);
}

.ip-v-opt-btn:hover > .ip-v-opt-con {
  background: var(--ct-ip-grey-3);
}
.ip-v-opt-btn:active > .ip-v-opt-con {
  background: var(--ct-ip-grey-2);
}

.ip-v-opt-btn:first-child {
  border-bottom: 1px var(--ct-ip-grey-3) solid;
}

.ip-v-opt-icon {
  margin-right: 1em;
}
.ip-v-opt-text {
  font-weight: bold;
  font-size: 1.2em;
}


/* Ckeck */
.ip-v-check {
  min-width: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1em;
}
.ip-v-check-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--ct-ip-grey-4);
  border-radius: 100%;
}
.ip-v-check-box[data-checked=true] {
  background-color: rgb(33, 179, 154);
  border-color: rgb(33, 179, 154);
  color: white;
}



/*  */
