.ip-playlist {
  position: relative;
  padding: 4.6em .2em 0 0;
  width: 60%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--ct-ip-grey-0);
  display: block;
}
.ip-playlist-con {
  width: 100%;
  height: calc(100vh - 4.6em);
  padding-bottom: 5em;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  -webkit-box-orient: vertical;
}

/* Title */
.ip-p-title {
  /* margin: 1.5em 0; */
  padding: .5em 1em .5em 1em;
  /* position: sticky;
  top: 0; */
  /* background-color: #fcfcfc; */
  background-color: var(--ct-ip-grey-0);
  /* z-index: 1; */
}
.ip-p-pl-name {
  width: 100%;
  padding: .45em .2em;
  margin: 0 1em 0 0;
  font-family: var(--ct-font-google);
}
.ip-p-pl-name span {
  margin-left: .2em;
  font-size: 1.3em;
  color: rgb(68, 68, 68);
}
.ip-p-pl-name-edit-con {
  display: flex;
  align-items: center;
  width: 100%;
}
.ip-p-pl-name-edit {
  width: 100%;
}
.ip-p-pl-name-edit-con input {
  width: 100%;
  color: black;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  padding: .85em 1em calc(1em - 2px) 1em;
  background-color: var(--ct-ip-grey-1);
  border-bottom: 2px transparent solid;
  transition: border .2s ease-in-out;
  &:hover {
    border-color: black;
  }
  &:focus {
    outline: none;
    // background-color: var(--ct-ip-grey-2);
    border-color: var(--ct-green-normal);
  }
}


/* Buttons */
.ip-p-btns {
  margin: 1em 0 .5em 0;
}
.ip-p-btns-con {
  border-radius: 10px;
  padding: 0 1em;
  /* background-color: var(--ct-ip-grey-1); */
  /* justify-content: flex-end; */
}

