.ip-playlist-con {
  position: relative;
  padding-top: 4.5em;
  padding-bottom: 5em;
  width: 60%;
  height: 100vh;
  overflow: auto;
}

/* Title */
.ip-p-title {
  margin: 1.5em .5em;
  padding: .5em 0 .5em .5em;
  position: sticky;
  top: 0;
  background-color: #fcfcfc;
  z-index: 1;
}
.ip-p-pl-name {
  padding: .45em .2em;
  margin: 0 1em 0 0;
}
.ip-p-pl-name span {
  margin-left: .2em;
  font-size: 1.3em;
  color: rgb(68, 68, 68);
}

.ip-p-pl-name-edit-con input {
  font-weight: bold;
  font-size: 1.7em;
  padding: .5em 1em;
}


/* Buttons */
.ip-p-btns {
  margin: 1em 0 .5em 0;
}
.ip-p-btns-con {
  border-radius: 10px;
  padding: 0 1em;
  /* background-color: var(--ct-ip-grey-1); */
  /* justify-content: flex-end; */
}

