.csp-videos {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  width: 100%;
  padding: 1em 5%;
  font-family: Arial, Helvetica, sans-serif;
}



/* Header */
.pl-info-header {
  background: #fcfcfc;
  padding-top: 1em;
}
.csp-videos .ui.sticky.fixed.top {
  top: 4rem !important;
}
.pl-info-header .name {
  width: 100%;
  padding: 0 0 .5rem 1rem;
  border-bottom: #dbdbdb solid 1px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(97, 92, 92);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.csp-videos .playlist-btn {
  margin-left: 1em;
  width: max-content;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}

.csp-videos .playlist-btn .edit-btn {
  margin: 0.2rem 0 0.5rem 0rem;
  width: max-content;
}
@media screen and (min-width: 800px) {
  .csp-videos .playlist-btn .edit-btn:after {
    content: '  Edit Playlist'
  }
}
.csp-videos .playlist-btn .new-btn {
  width: max-content;
  margin: 0.2rem 0.5rem 0.5rem 0.5rem;
}
.novideo-wrapper {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.novideo-wrapper h4 {
  font-size: 2rem;
  color: #949393;
  text-align: center;
}

/* Video List Placeholder */

.vcard-placeholder {
  padding: 1rem !important;
  width: 100%;
  display: flex;
  flex-direction: row !important;
  align-items: flex-start;
  border-bottom: #dbdbdb solid 1px !important;
}
.vcard-placeholder .img {
  height: 5em;
  width: 9em; 
  display: inline-block;
}
.vcard-placeholder .vname {
  height: 2em; 
  width: 80%; 
  margin: 0 0 0 1rem !important;
  display: inline-block;
}

/* Video List */

.csp-videos .vlist {
  min-height: 50vh;
  width: 100%;
}
.csp-videos .vlist .video-card {
  position: relative;
  transition: all 0.2s linear;
  padding: 1rem 0 1rem 1rem !important;
  border-bottom: solid 1px #e9e9e9;
}

.csp-videos .vlist .video-card:last-child {
  border: none;
}

.csp-videos .vlist .video-card .video-link {
  justify-content: flex-start;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;}
  .csp-videos .vlist .video-card button[disabled] {
    pointer-events: none;
    opacity: .7;
  }
  .csp-videos .vlist .video-card .info {
    text-align: left;
  }
  .csp-videos .vlist .video-card .video-link:focus {
    outline: #34a2b1 auto 2px;
  }

.csp-videos .vlist .video-card .poster {
  height: 5rem !important;
  /* border-radius: 0.5rem !important; */
  margin-right: 1rem !important;
  cursor: pointer;
}
.csp-videos .vlist .video-card .info {
  display: inline-block;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.csp-videos .vlist .video-card .info .title {
  color: rgb(102, 102, 102);
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;}
  @media screen and (max-width: 520px) {
    .csp-videos .vlist .video-card .info .title {
      font-size: 1.1rem;
    }
  }

.csp-videos .vlist .video-card .list-dropdown-btn {
  position: absolute;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 0;
}
.csp-videos .vlist .video-card .list-dropdown-btn:focus {
  outline: #34a2b1 !important;
}

@media screen and (max-width: 600px) {
  .csp-videos {
    padding: 0em;
  }
  .pl-info-header .name {
    text-align: center;
  }
  .csp-videos .vlist .video-card {
    padding: 1em 0 !important;
  }
}



/* Header Placeholder */
.pl-header-placeholder {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: #dbdbdb solid 1px;
}
.pl-header-placeholder .type-icon {
  height: 2.5em;
  width: 3.5em; 
  margin-left: 1.5rem;
}
.pl-header-placeholder .name {
  height: 2em; 
  width: 70%; 
  margin: 0 0 0 1rem !important;
}

.empty-upload {
  width: 100%;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}
  .empty-upload p {
    font-size: 1.2em;
    color: rgb(151, 151, 151);
  }


