.watch-progress-bar-container {
  position: absolute;
  top: 0;
  padding: 0 0;
}
.watch-progress-bar {
  position: relative;
  height: var(--ct-progress-h);
  width: var(--ct-progress-w);
  overflow: visible;
  cursor: pointer;
}

/* Buffer */
.buffered {
  height: 100%;
  position: relative;
  background: rgba(85, 85, 85, 0.555);
  width: 100%;
  border-radius: var(--ct-progress-border-radius);
}

#buffered-amount {
  display: block;
  height: 100%;
  background-color: #777;
  width: 0;
  border-radius: var(--ct-progress-border-radius);
}

/* Progress */
.watch-progress-bar .progress {
  margin-top: var(--ct-progress-h-neg);
  height: 100%;
  position: relative;
  width: 100%;
  background: transparent;
  border-radius: var(--ct-progress-border-radius);
  overflow: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

#progress-amount {
  display: block;
  height: 100%;
  background-color: var(--ct-progress-color);
  width: 0;
  border-radius: var(--ct-progress-border-radius);
}

.watch-progress-bar .progress .end-circle {
  background: var(--ct-progress-color);
  width: var(--ct-progress-h);
  height: var(--ct-progress-h);
  border-radius: 100%;
  margin-left: -7px;
}

/* Seeking */
.seeking {
  margin-top: var(--ct-progress-h-neg);
  height: 100%;
  position: relative;
  width: 100%;
  background: transparent;
  border-top-left-radius: var(--ct-progress-border-radius);
  border-bottom-left-radius: var(--ct-progress-border-radius);
  overflow: hidden;
}

#seeking-to {
  display: block;
  height: 100%;
  background-color: rgba(0, 161, 167, 0.39);
  width: 0;
  border-top-left-radius: var(--ct-progress-border-radius);
  border-bottom-left-radius: var(--ct-progress-border-radius);
}

#seeking-time {
  position: absolute;
  top: -35px;
  padding: .5em 1em;
  display: flex;
  opacity: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(47, 47, 47);
  border-radius: 20px;
}

/* Animations */
.watch-progress-bar:hover {
  height: var(--ct-progress-h-hover);
}
.watch-progress-bar:hover .progress,
.watch-progress-bar:hover .seeking {
  margin-top: -7px;
}
.watch-progress-bar:hover .progress .end-circle {
  width: 12px;
  height: 12px;
}

/* #buffered-amount, #progress-amount {
  transition: var(--ct-progress-transi-w);
  -o-transition: var(--ct-progress-transi-w);
  -moz-transition: var(--ct-progress-transi-w);
  -webkit-transition: var(--ct-progress-transi-w);
} */