.watch-big-play-button-container {
  position: relative;
  width: 15vw;
  height: 15vw;
}

.watch-big-play-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.big-play-button-content {
  color: rgba(0, 175, 175, 0.623);
  transition: var(--ct-transition-color);
  -o-transition: var(--ct-transition-color);
  -moz-transition: var(--ct-transition-color);
  -webkit-transition: var(--ct-transition-color);
}
.big-play-button-content i {
  font-size: 9em;
}
.watch-big-play-button:hover,
.watch-big-play-button:focus {
  outline: none;
}
.watch-big-play-button:hover > .big-play-button-content,
.watch-big-play-button:focus > .big-play-button-content{
  color: var(--ct-text-highlight);
}