/**
 * Stylesheet for Home screen
 */
 
.sp-home {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 2rem;
}

/* Search Bar*/


/* Content */

.sp-home .hide {
  display: none;}
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}}

/* Filter */

.sp-home .filter {
  width: 100%;
  padding: 0.5rem 0rem 0rem 1.2rem;
}
@media screen and (max-width: 767px) {
  .sp-home .filter {
    padding-left: 0 !important;
  }
}

.sp-home .filter .search-bar {
  border-bottom: 1px solid rgb(228, 228, 228);
  padding-top: 1rem !important;
}

.sp-home .filter .ui.dropdown .menu>.item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.sp-home .filter .ui.dropdown .menu>.item:hover {
  overflow: visible;
  white-space: normal;
}
.sp-home .filter .ui.dropdown .menu, .sp-home .filter .selection.active.dropdown {
  border-color: rgb(106, 172, 168) !important;
} 
.sp-home .filter label {
  color: rgb(93, 131, 129) !important;
}


/* Offering list */

.sp-home .offering-list {
  margin-top: 2rem;
}

.sp-home .offering-list .section {
  width: 100%;
  overflow: hidden;
  padding: 1rem 0rem;}
  
  .sp-home .offering-list .section .title {
    color: rgb(92, 121, 122);
    font-size: 1.2rem;}
  .sp-home .offering-list .section .title span {
    color: rgb(173, 173, 173);
    font-size: 1.1rem;
  }


  .sp-home .offering-list .section .offerings {
    width: 100%;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll !important;}
    .sp-home .offering-list .section .offerings::-webkit-scrollbar {
      display: block;
      background: rgb(248, 248, 248);
      width: 2px;
      height: 5px;}
      .sp-home .offering-list .section .offerings::-webkit-scrollbar-track-piece {
        background: #fcfcfc;
      }
      .sp-home .offering-list .section .offerings::-webkit-scrollbar-thumb {
        background-color: #ebebeb;
      }
      
  .sp-home .offering-list .section .offerings .offeringCard {
    transition: border 0.2s linear;
    -o-transition: border 0.2s linear;
    -webkit-transition: border 0.2s linear;
    display: inline-block;
    white-space: normal;
    width: 16rem !important;
    height: 18rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border: 0.1rem solid #fcfcfc;
    overflow: hidden;
    cursor: pointer;}
    .sp-home .card-body {
      padding: 0.5rem !important;
    }
  .sp-home .offering-list .section .offerings .offeringCard:hover, .sp-home .offering-list .section .offerings a:focus {
    outline: none;
    border: 0.1rem solid rgb(69, 165, 168);}
    .sp-home .offering-list .section .offerings .offeringCard:hover>.img, .sp-home .offering-list .section .offerings a:focus>.img{
      margin-top: -7rem;}
  .sp-home .offering-list .section .offerings .offeringCard .img {
    transition: margin 0.2s linear;
    -o-transition: margin 0.2s linear;
    -webkit-transition: margin 0.2s linear;
    width: 16rem;}
  .sp-home .offering-list .section .offerings .offeringCard .title {
    color: rgb(68, 92, 92);
  }
  .sp-home .offering-list .section .offerings .offeringCard .info {
    color: rgb(71, 141, 141);
    font-weight: 500;
  }
  .sp-home  .offeringCard .description {
    color: rgb(107, 128, 128);
    position: relative; 
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .sp-home  .offeringCard .description::-webkit-scrollbar {
    display: block;
    width: 3px;
  }
  .sp-home  .offeringCard .description::-webkit-scrollbar-track-piece {
    background-color: rgb(246, 246, 246) !important;
  }
  .sp-home  .offeringCard .description::-webkit-scrollbar-thumb {
    background: rgba(198, 219, 223, 0.685);
  }

  .sp-home .offering-list .section .offerings .offeringCard[id=offering-card-holder] {
    cursor: default;
    pointer-events: none;
  }
  .sp-home .offering-list .section .offerings .offeringCard[id=offering-card-holder]:hover {
    border: 0.1rem solid transparent;
  }

  

