/**
 * Stylesheet for Home screen
 */
 
.sp-home {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 2rem;
}

/* Search Bar*/


/* Content */

.sp-home .hide {
  display: none;}
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}}

/* Filter */

.sp-home .filter {
  width: 100%;
  padding-top: 1.5rem;
}
@media screen and (max-width: 767px) {
  .sp-home .filter {
    padding-left: 0 !important;
  }
}

.sp-home .filter .search-bar {
  border-bottom: 1px solid rgb(228, 228, 228);
}
.ui.stackable.grid>.row>.column[id=filter-search] {
  padding-top: 0 !important;
}
.sp-home .filter .ui.selection.dropdown {
  background: none !important;
  border-color: transparent !important;
}
.sp-home .ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
  color: rgb(100, 100, 100) !important;
}
.sp-home .filter .ui.dropdown .menu>.item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.sp-home .filter .ui.dropdown .menu>.item:hover {
  overflow: visible;
  white-space: normal;
}
/* .sp-home .filter .ui.dropdown .menu, .sp-home .filter .selection.active.dropdown {
  border: none !important;
  box-shadow:0 3px 4px 0 rgba(34,36,38,.15) !important;
}  */
.sp-home .filter label {
  color: rgb(37, 113, 116) !important;
  padding-left: 1em;
}


/* Offering list */

.sp-home .offering-list {
  margin-top: 0rem;
}

.sp-home .offering-list .section {
  width: 100%;
  overflow: hidden;
  padding: 1rem 0rem;}
  
  .sp-home .offering-list .section .title {
    color: rgb(37, 113, 116);
    font-size: 1.4rem;}
    .sp-home .offering-list .section .title span {
      color: rgb(104, 104, 104);
      font-size: 1.1rem;
      font-weight: normal;
    }
    @media screen and (max-width: 600px) {
      .sp-home .offering-list .section .title {
        padding-left: 1em;}
        .sp-home .offering-list .section .title span {
          display: block;
          padding-left: 1em;
        }
    }


  .sp-home .offering-list .section .offerings {
    position: relative;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;}
    .sp-home .offering-list .section .offerings::-webkit-scrollbar {
      display: block;
      background: rgb(248, 248, 248);
      width: 2px;
      height: 4px;}
      .sp-home .offering-list .section .offerings::-webkit-scrollbar-track-piece {
        background: #fcfcfc;
      }
      .sp-home .offering-list .section .offerings::-webkit-scrollbar-thumb {
        background-color: #e9e9e9;
      }
      
  .sp-home .offering-list .section .offerings .offeringCard {
    /* transition: border 0.2s linear;
    -o-transition: border 0.2s linear;
    -webkit-transition: border 0.2s linear; */
    display: inline-block;
    flex: 0 0 auto;
    white-space: normal;
    width: 16rem !important;
    height: 18rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border: 0.1rem solid #fcfcfc;
    overflow: hidden;
    border-radius: 10px !important;
    background: #fcfcfc !important;
    cursor: pointer;}
    .sp-home .card-body {
      padding: 0.5rem !important;
    }
  .sp-home .offering-list .section .offerings .offeringCard:hover, .sp-home .offering-list .section .offerings a {
    outline: none;
  }
  .sp-home .offering-list .section .offerings a:focus, .sp-home .offering-list .section .offerings a:active {
    border-radius: 10px !important;
    border: 0.1rem solid rgb(69, 165, 168);
  }
    @media screen and (min-width: 600px) {
      .sp-home .offering-list .section .offerings .offeringCard:hover>.img, .sp-home .offering-list .section .offerings a:focus>.img{
        margin-top: -7rem;}
    }
  .sp-home .offering-list .section .offerings .offeringCard .img {
    transition: margin 0.2s linear;
    -o-transition: margin 0.2s linear;
    -webkit-transition: margin 0.2s linear;
    border-radius: 9px;
    width: 15.8rem;}
  .sp-home .offering-list .section .offerings .offeringCard .title {
    font-size: 1.4em;
    color: rgb(40, 109, 116);
    padding: 0;
  }
  .sp-home .offering-list .section .offerings .offeringCard .info {
    color: rgb(61, 61, 61);
    font-weight: 500;
  }
  .sp-home  .offeringCard .description {
    color: rgb(107, 128, 128);
    position: relative; 
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  /* .sp-home  .offeringCard .description::-webkit-scrollbar {
    display: block;
    width: 3px;
  }
  .sp-home  .offeringCard .description::-webkit-scrollbar-track-piece {
    background-color: rgb(246, 246, 246) !important;
  }
  .sp-home  .offeringCard .description::-webkit-scrollbar-thumb {
    background: rgba(198, 219, 223, 0.685);
  } */

  .sp-home .offering-list .section .offerings .offeringCard[id=offering-card-holder] {
    cursor: default;
    pointer-events: none;
  }
  .sp-home .offering-list .section .offerings .offeringCard[id=offering-card-holder]:hover {
    border: 0.1rem solid transparent;
  }

  

