/**
 * Stylesheet for Home screen
 */
 
.sp-home {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 2rem;
}

/* Search Bar*/


/* Content */

.sp-home .hide {
  display: none;}
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}}

/* Filter */

.sp-home .filter {
  width: 100%;
  padding-top: 1.5rem;
  padding-left: .5em;
}
@media screen and (max-width: 800px) {
  .sp-home .filter {
    padding-left: 0 !important;
  }
}

.sp-home .filter .search-bar {
  border-bottom: 1px solid rgb(228, 228, 228);
}
.ui.stackable.grid>.row>.column[id=filter-search] {
  padding-top: 0 !important;
}
.sp-home .filter .ui.selection.dropdown {
  background: none !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-color: transparent !important;
}
.sp-home .filter .ui.selection.active.dropdown .menu {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.sp-home .ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
  color: rgb(100, 100, 100) !important;
}
.sp-home .filter .ui.dropdown .menu>.item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.sp-home .filter .ui.dropdown .menu>.item:hover {
  overflow: visible;
  white-space: normal;
}
/* .sp-home .filter .ui.dropdown .menu, .sp-home .filter .selection.active.dropdown {
  border: none !important;
  box-shadow:0 3px 4px 0 rgba(34,36,38,.15) !important;
}  */
.sp-home .filter label {
  color: rgb(37, 113, 116) !important;
  padding-left: 1em;
}


/* Offering list */

.sp-home .offering-list {
  margin-top: 0rem;
}


  

