/* left in */
.offering-detail-enter {
  opacity: 0;
  transform: translateX(40px);
  -o-transform: translateX(40px);
  -webkit-transform: translateX(40px);
}
.offering-detail-enter-active {
  opacity: 1;
  transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
  -o-transition: opacity 300ms, transform 300ms;
  -webkit-transition: opacity 300ms, transform 300ms;
}


/* top in */
.search-bar-enter {
  opacity: 0;
  transform: translateY(-40px) scaleX(1.03);
  -o-transform: translateY(-40px) scaleX(1.03);
  -webkit-transform: translateY(-40px) scaleX(1.03);
}
.search-bar-enter-active {
  opacity: 1;
  transform: translateX(0) scaleX(1);
  -o-transform: translateX(0) scaleX(1);
  -webkit-transform: translateX(0) scaleX(1);
  transition: opacity 300ms, transform 300ms;
  -o-transition: opacity 300ms, transform 300ms;
  -webkit-transition: opacity 300ms, transform 300ms;
}
