.ct-ipt-cb-con {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ct-ipt-cb {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ct-ipt-cb input {
  /* z-index: -1; */
}

.ct-ipt-cb-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .2em 0 0 0;
  padding-left: 1em;
  font-weight: bold;
  font-size: 1.1em;
  color: rgb(61, 61, 61);
}