.msp-ee-sch-instr-h {
  margin: 0 10px 30px 100px;
  padding-top: 10px;

  .msp-ee-sch-h1 {
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 40px;
      margin: 10px 20px 10px 0;
    }
  }

  .ee-sch-h-block {
    font-size: 17px;
    border-left: 4px solid rgba(31, 163, 163, 0.849);
    margin-top: 1rem;
    padding: .5rem 1rem;
    background-color: rgba(24, 131, 131, 0.068);
    border-radius: 0 10px 10px 0;

    b {
      color: rgb(53, 53, 53);
    }

    h4 {
      display: block;
      font-weight: bold;
      font-size: 20px;
      background-color: transparent;
      margin-bottom: 5px;
    }

    p {
      margin: 3px 0;
      span {
        background-color: rgba(162, 202, 240, 0.452);
      }
    }

    ul {
      li {
        padding-top: 10px;
      }
    }
  }
}