.ct-epb.ch-nav-con {
  box-shadow: none !important;
  padding: 0 10px 40px 0;
}

.ct-epb.ch-nav-main {
  border-left: solid 1px rgb(236, 236, 236) !important;
}

.ct-epb.ch-nav-ctrl-btn-con {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;

  i {
    font-size: 30px !important;
  }
}

.ct-epb.ch-nav-item {
  width: 100%;
  span.pico-btn-con {
    padding-left: 0px;
    text-align: left;
    border-radius: 0 30px 30px 0 !important;
  }

  span.pbtn-span.pbtn-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:not(.sub) {
    border-top: solid 1px rgb(236, 236, 236);
  }

  &.sub {
    span.pico-btn-con {
      padding-left: 20px;
    }
  }
}