.ctp.big-center-btn {
  z-index: 1;
  &:focus, &:hover {
    span {
      color: rgb(0, 236, 236);
    }
  }

  &:active {
    opacity: 0.8;
  }

  span {
    width: 30px;
    height: 30px;
    color: rgba(160, 223, 223, 0.856);
    transition: var(--ct-transition-color);
    -o-transition: var(--ct-transition-color);
    -moz-transition: var(--ct-transition-color);
    -webkit-transition: var(--ct-transition-color);

    i {
      font-size: 9em;
    }
  }
}

.ctp.wrapper.start {
  z-index: 10;
  display: none;

  &.show {
    display: flex;
  }
}