

/* CC Style Picker */

.ccstyle-demo-area {
  position: relative;
  width: 50em;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 1em 4em 0;
  animation: var(--ct-animation-expand-padding-h);
  -o-animation: var(--ct-animation-expand-padding-h);
  -moz-animation: var(--ct-animation-expand-padding-h);
  -webkit-animation: var(--ct-animation-expand-padding-h);
}

.ccstyle-demo-box {
  box-shadow: 0 0 0 3px rgba(82, 82, 82, 0.438);
  border-radius: 5px;
  padding: .5em 1em;
  font-weight: bold;
  text-align: center;
  max-width: 100%;
}

.ccstyle-selection-area {
  position: relative;
  width: 50em;
  max-width: 90vw;
  height: auto;
  margin: 1em 0em 5em 1em;
  animation: var(--ct-animation-expand-padding-h);
  -o-animation: var(--ct-animation-expand-padding-h);
  -moz-animation: var(--ct-animation-expand-padding-h);
  -webkit-animation: var(--ct-animation-expand-padding-h);
}

@media screen and (max-width: 900px) {
  .watch-ccstyle-menu {
    padding-top: 10em;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: auto;
  }
  .ccstyle-demo-area {
    margin: 1em 0em 4em 0;
  }
}

/* Semantic UI Updates */
.watch-ccstyle-picker label {
  font-weight: bold !important;
  font-size: 1.2em !important;
}
.watch-ccstyle-picker .ui.selection.dropdown {
  background: rgb(236, 236, 236) !important;
  border-color: rgb(236, 236, 236);
}


