.trans-container {
  width: 100%;
  height: 90vh;
  z-index: 1;
  overflow: hidden;
  background: rgb(49, 49, 49);
  margin: .5em 0;
}


.trans-con-expand {
  position: absolute;
  top: 3.5em;
}

.trans-container .edit-button {
  border: 1px solid rgb(182, 182, 182) !important;
  color: white !important;
  outline: none;
  margin-left: .5em !important;
  background: none !important;
}
.trans-container .edit-button:focus, .trans-container .edit-button:hover {
  color: rgb(204, 204, 204) !important;
}

/* Tool Bar */

.trans-container .tool-bar {
  min-height: 4em;
  width: 100%;
  padding: .5em 1em;
  /* box-shadow: 0 0 .2em .2em rgba(71, 71, 71, 0.507); */
  box-shadow: 0 0 .3em .2em rgba(27, 27, 27, 0.507);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;}
  .trans-container .tool-bar i {
    color: white;
  }

  .expand-button {
    height: 49px;
    background: none !important;}
    @media screen and (min-width: 750px) {
      .expand-button:hover::after, .expand-button:not(:hover):focus::after {
        content: 'Expand Less';
        color: rgb(203, 206, 206);
        font-size: .8em;}
      .expand-button[id=expand-less]:hover::after, .expand-button[id=expand-less]:not(:hover):focus::after {
        content: 'Expand More';
      }
    }

  /* Input */
  .trans-container .tool-bar .ui.input  {
    color: white;
  }
  .trans-container .tool-bar .ui.input>input {
    background: none;
    border-color: rgb(49, 49, 49);
    color: white;
    width: 17em;
    transition: width .1s linear;
    max-width: 50vw;
    border-radius: 0 !important;
  }
  .trans-container .tool-bar .ui.input>input:focus {
    border-color: rgb(182, 182, 182);
    background: rgb(42, 42, 42);
    width: 17em;}

.trans-container .tool-bar .search  .clear-input-btn {
  border: 1px solid rgb(182, 182, 182) !important;
  color: white;
  outline: none;
  margin-left: .5em;
  height: 3.1em;
}

  /* Search Option */
  .trans-container .ui.selection.dropdown {
    margin-right: .5em;
    min-width: 5em;}
  .trans-container .tool-bar .search .selection {
    background: none;
    border-color: rgb(49, 49, 49) !important;
  }
  .trans-container .tool-bar .search .selection:focus {
    border-color: rgb(182, 182, 182) !important;
  }
  .trans-container .tool-bar .search .dropdown .text {
    color: white !important;
  }
  .trans-container .tool-bar .search .dropdown .menu {
    border-color: inherit !important;
  }
  .trans-container .tool-bar .search .dropdown .menu>.item {
    background: rgb(49, 49, 49);
    color: white !important;
    border: 0;
  }
  .trans-container .tool-bar .search .dropdown .menu .selected.item, .trans-container .tool-bar .search .dropdown.selected {
    background: rgb(74, 78, 78);
  }


.trans-container .tool-bar .search .results {
  max-height: 50vh;
  width: 50vw;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
}


/* Caption Window */

.trans-container .captions {
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 3em 0 90vh 0;
  scroll-behavior: smooth;
  position: relative;
}

.trans-container .captions .line {
  width: 100%;
  min-height: 50px;
  margin: 0;
  padding: 0em 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(160, 160, 160);
  justify-content: space-between;
  outline: none;
  font-weight: bold;
  outline: none;}
  .trans-container .captions .line:hover {
    background: rgb(57, 58, 58);}
  @media screen and (max-width: 650px) {
    .trans-container .captions .line {
      justify-content: center;
    }
  }
.trans-container .captions .curr-line {
  color: white;}
.trans-container .captions .copied {
  color: rgb(134, 223, 223) !important;
}
.trans-container .captions .line .text {
  outline: none;
  text-align: center;
  cursor: pointer;}
  .trans-container .captions .line .text:focus {
    color: white;
  }
  .trans-container .captions .line .text .material-icons {
    font-size: 1em;
  }


.trans-container .captions .line .likes, 
.trans-container .captions .line .edit {
  opacity: 0;
  color: rgb(185, 185, 185);
  font-weight: normal;}
.trans-container .captions .line:hover>.likes, .trans-container .captions .line:focus>.likes,
.trans-container .captions .line:hover>.edit, .trans-container .captions .line:focus>.edit {
  opacity: 1;
}

.trans-container .captions .line .likes {
  min-width: 12em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.trans-container .captions .line .likes .thumbup {
  margin-left: -.5em;
}
.trans-container .captions .line .likes .thumbup, .trans-container .captions .line .likes .thumbdown {
  font-weight: normal !important;
  font-size: .8em;
}
.trans-container .captions .line .edit {
  display: inline-flex;
  justify-content: flex-end;
  min-width: 9em;
}
.trans-container .captions .line .editBtn:hover:after {
  font-size: .8em;
  content: 'Edit';
}
.trans-container .captions .line .shareBtn:hover:after {
  font-size: .8em;
  content: 'Share';
}

/* .trans-container .captions .line .likes:focus-within, .trans-container .captions .line .edit:focus-within {
  opacity: 1;
} */

.trans-container .captions .icon, 
.trans-container .captions .icon {
  transition: color .2s linear;
  color: rgb(209, 209, 209);
  outline: none;
  background: none !important;}
  .trans-container .captions .icon:hover, 
  .trans-container .captions .icon:hover {
    color: rgb(184, 184, 184);
  }

.trans-container .captions .line .likes .num {
  margin-left: -1.1em;
} 

@media screen and (max-width: 850px) {
  .trans-container .captions .line .edit .name {
    display: none;
  }
  .trans-container .captions .curr-line .likes .icon {
    font-size: .5em !important;
  }
}
@media screen and (max-width: 650px) {
  .trans-container .captions .line .likes,
  .trans-container .captions .line .edit {
    display: none;
  }
}

/* Edit line */
.line-edit {
  background-color: rgb(57, 58, 58) !important;
}
.trans-container .captions .line .ui.input {
  color: white;
}
.trans-container .captions .line .ui.input>input {
  background: none;
  border-color: rgb(182, 182, 182);
  color: white;
  font-size: 1.1em;
  text-align: center;
  width: 75vw;
  white-space: normal;
}
.trans-container .captions .line .ui.input>input:focus {
  border-color: white;
  background: none;
}
