.ctp.center-wrapper {
  width: 100%;
  height: 100%;
  color: white;

  .ctp.e-v-popup-con {
    .ctp.e-v-volume-con {
      position: absolute;
      top: 10%;
      width: 100%;

      .ctp.e-v-volume {
        background-color: rgba(36, 36, 36, 0.61);
        width: 100px;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 15px;
      }
    }
    .ctp.e-v-popup-icon {
      background-color: rgba(0, 0, 0, 0.274);
      border-radius: 100%;
      padding: 1.5em;
      pointer-events: none;
      opacity: 0;
      animation: 600ms linear 0ms 1 normal forwards running show-and-fade;

      i { font-size: 50px; }
    }
  }
}

@keyframes show-and-fade {
  0% { opacity: .7; transform: scale(0.5); }
  100% { opacity: 0; transform: scale(1.5);}
}

.ctp.big-center-btn {
  z-index: 1;
  &:focus, &:hover {
    span {
      color: rgb(0, 236, 236);
    }
  }

  &:active {
    opacity: 0.8;
  }

  span {
    width: 30px;
    height: 30px;
    color: rgba(160, 223, 223, 0.856);
    transition: var(--ct-transition-color);
    -o-transition: var(--ct-transition-color);
    -moz-transition: var(--ct-transition-color);
    -webkit-transition: var(--ct-transition-color);

    i {
      font-size: 100px;
    }
  }
}