.ctp.control-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .ctp.bottom-bar {
    background: rgba(0, 0, 0, 0);
    // transition: background 100ms linear;
  }

  .ctp.action-bar {
    z-index: 1;
    height: 40px;
    padding-bottom: 5px;

    .left, .right {
      width: 50%;
    }

    .left {
      padding-right: 5px;
    }
  }

  .ctp.center-area {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .ctp.cc-con {
      z-index: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0 10px;
    }
  }
}

.ctp.wrapper.interact {
  &:focus-within, &.show {
    .ctp.bottom-bar {
      background: linear-gradient(to top,rgba(0, 0, 0, 0.658) 10%,rgba(0, 0, 0, 0.432));
    }
    .ctp.center-area {
      background: linear-gradient(to top,rgba(0, 0, 0, 0.432) 10%,rgba(0, 0, 0, 0));
    }
  }
}