/* Select */
.ct-ipt-sel-con {
  width: 100%;
}
.ct-ipt-sel-con:focus {
  outline: none;
}
.ct-ipt-sel {
  position: relative;
  width: 100%;
  border-bottom: .2em solid transparent;
  border-radius: 10px;
  overflow: hidden;
  padding: .7em .5em 0 .5em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: .2em solid rgb(209, 209, 209);
  transition: border .2s ease-in-out;
}
.ct-ipt:focus-within .ct-ipt-sel,
.ct-ipt:hover .ct-ipt-sel {
  border-bottom: .2em solid rgb(29, 29, 29);
}
.ct-ipt-sel-con:active > .ct-ipt-sel {
  background-color: rgb(233, 233, 233);
}

.ct-ipt-sel-text {
  display: block;
  color: rgb(66, 66, 66);
  font-size: 1.3em;
  padding: .5em;
  width: 90%;
}
.ct-ipt-sel-ph {
  color: rgb(126, 126, 126);
}
.ct-ipt-sel-drop-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ct-ipt-sel-drop-icon i {
  transition: transform .2s linear;
}

/* Options */

.ct-ipt-sel-opts {
  display: none;
  top: 1em;
  position: absolute;
  width: 100%;
  flex: 0 0 auto;
  flex-direction: column;
  max-height: 20em;
  min-height: 5em;
  background-color: rgb(224, 224, 224);
  /* background-color: rgb(233, 233, 233); */
  border-radius: 10px;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  overflow: auto;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.082);
  z-index: 1;
  animation: ipt-sel-popup .15s ease-in;
}
.ct-ipt-con[data-pos=up] .ct-ipt-sel-opts {
  top: -10em;
}

@keyframes ipt-sel-popup {
  0% {margin-top: 1em; width: 70%; max-height: 5em;}
  100% {margin-top: 0; width: 100%; max-height: 20em;}}
@-o-keyframes ipt-sel-popup {
  0% {margin-top: 1em; width: 70%; max-height: 5em;}
  100% {margin-top: 0; width: 100%; max-height: 20em;}}
@-moz-keyframes ipt-sel-popup {
  0% {margin-top: 1em; width: 70%; max-height: 5em;}
  100% {margin-top: 0; width: 100%; max-height: 20em;}}
@-webkit-keyframes ipt-sel-popup {
  0% {margin-top: 1em; width: 70%; max-height: 5em;}
  100% {margin-top: 0; width: 100%; max-height: 20em;}}

.ct-ipt-sel-opt {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3em;
  padding: .7em 1em;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.ct-ipt-sel-opt:hover,
.ct-ipt-sel-opt:focus {
  color: black;
  background-color: rgb(236, 236, 236);
  outline: none;
}
.ct-ipt-sel-opt[data-current=true] {
  font-weight: bold;
  color: white;
  background-color: rgb(30, 163, 163);
}
.ct-ipt-sel-opt[data-current=true]:hover,
.ct-ipt-sel-opt[data-current=true]:focus {
  background-color: rgb(25, 138, 138);
}

.ct-ipt:focus-within .ct-ipt-sel-opts {
  display: flex;
}
.ct-ipt:focus-within .ct-ipt-sel {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: .2em solid rgb(195, 195, 195);
}
.ct-ipt:focus-within .ct-ipt-sel-drop-icon i {
  transform: rotate(180deg);
}
.ct-ipt-sel-opts[data-active=false] {
  display: none;
}
