/** 
 * Stylesheet for VideoSettingBar
 */

.video-setting-bar {
  margin-left: 2em;
  width: 100%;
  height: 3em;
  border-radius: .6em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;}
  @media screen and (max-width: 870px) {
    .video-setting-bar {
      width: auto;
      position: absolute;
      right: .5em;
    }
  }

/* General Trigger button */
.video-setting-bar .trigger {
  transition: color .2s linear, background .2s linear;
  background-color: rgb(47, 85, 88);
  color: rgb(212, 209, 209);
  outline: none;
  height: 2em;
  border-radius: .6em;
  padding: 0 .5em;
  margin-left: .5em;}
  .video-setting-bar .trigger span {
    font-size: 1.1rem;
    font-weight: bold;}
  .video-setting-bar .trigger:hover {
    background-color: rgb(48, 126, 133);
    color: rgb(221, 221, 221);
  }

