.ct-epb-header {
  padding-left: 10px;
  min-width: inherit;
  height: 75px !important;

  #ct-nh-primary {
    height: 40px !important;
  }

  h1#ct-epb-header-title {
    font-size: 20px;
    margin: 0 0 0 22px;
    padding: 0;
    font-weight: 500;
    font-family: var(--ct-font-narrow) !important;
    color: black;
  }
  
  div#ct-epb-header-toolbar {
    margin-left: 15px;
  }

  .ct-epb.tool-btns {
    .ct-epb.toolbar-btn {
      color: rgb(112, 112, 112);
      padding: 0px !important;
      min-width: auto !important;

      span.MuiButton-endIcon {
        margin-left: 0;
      }

      span.ct-epb.toolbar-btn-inner {
        padding: 4px 0 4px 6px;
        display: flex;
        justify-content: center;
        font-weight: bold;
      }

      &.icon-btn {
        padding: 0 !important;
        border-radius: 5px !important;

        span.ct-epb.toolbar-btn-inner {
          padding: 4px 6px;
        }

        span.material-icons {
          font-size: 20px !important;
        }
      }

      &:hover {
        // color: teal;
        color: black;
      }
      &:active {
        background: rgb(227, 236, 236);
      }
    }

    .ct-epb.toolbar-btn-divider {
      height: 13px;
      margin: 0 4px;
      width: 1px;
      background-color: rgb(199, 199, 199);
    }
  }
}